<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="fragments/general.html :: common_header(~{::title},~{})">
<meta charset="utf-8">
<title th:text="#{h.createFy}"></title>
</head>
<body id="createFiscalYearPage" class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:insert="fragments/general.html :: header_nav('home')"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:text="#{h.createFy}"></h1>

		<div th:insert="fragments/general.html :: profile_info('home')"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="web-frmvld">

					<form action="#" th:action="@{createFY}" th:object="${fy}" method="post">

						<div class="form-group">
							<label for="yearInput" class="required"><span class="field-name" th:text="#{form.enterYr}"></span><strong class="required"
								th:utext="#{form.required}"></strong></label> <input id="yearInput" class="form-control" type="number" th:field="*{year}" required
								min="1999" max="2050" />
							<div th:if="${#fields.hasErrors('year')}" th:errors="*{year}" style="color: red;"></div>
						</div>

						<div>
							<input type="submit" class="btn btn-primary" role="button" th:value="#{input.submit}" /> <a th:href="@{/browse/viewFYs}"
								class="btn btn-link" th:text="#{msg.cancel}"></a>
						</div>

					</form>

				</div>

			</div>

			<div th:insert="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:insert="fragments/general :: footer(~{})"></footer>

</body>
</html>