<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="fragments/general.html :: common_header(~{::title},~{})">
<meta charset="utf-8">
<title th:text="#{h.editProgramLead}"></title>
</head>
<body class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:insert="fragments/general.html :: header_nav('home')"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:text="#{h.editProgramLead}"></h1>
		<!--  th:utext="${fundingOpp.searchUser}" -->

		<div th:insert="fragments/general.html :: profile_info('home')"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="web-frmvld">

					<form action="#" th:action="@{editProgramLead(id=${param.id})}" method="get">

						<input hidden="true" name="id" th:value="${param.id}" />

						<div class="form-group">
							<label for="userSearchBox"><span class="field-name" th:text="#{link.fo.searchUser}"></span></label> <input id="userSearchBox"
								class="form-control" th:type="search" th:name="searchStr" th:value="${param.searchStr}" />
						</div>

						<div class="form-group">
							<input type="submit" id="searchButton" th:value="#{searchUser.submit}" class="btn btn-primary" />
						</div>

					</form>

				</div>

				<div class="web-frmvld" th:if="${adUserList != null and !adUserList.isEmpty()}" id="searchResultsDiv">

					<form action="#" th:action="@{editProgramLead}" method="post">

						<input type="hidden" name="foId" th:value="${originalId}" />

						<table id="dataTable" class="wb-tables table table-striped table-hover dataTable">
							<thead>
								<tr>
									<th th:text="#{th.select}" style="width: 5%;"></th>
									<th th:text="#{th.userLogin}"></th>
									<th th:text="#{th.name}"></th>
									<th th:text="#{th.dn}"></th>
								</tr>
							</thead>
							<tbody>
								<!-- <tr th:if="${adUserList.empty}">
									<td colspan="4" th:text="#{th.noMatchingUsers}"></td>
								</tr> -->
								<tr th:each="user : ${adUserList}">
									<td><input name="leadUserDn" th:value="${user.dn}" type="radio" /></td>
									<td><span th:text="${user.userLogin}"></span></td>
									<td><span th:text="${user.fullName}"></span></td>
									<td><span th:text="${user.dn}"></span></td>
								</tr>
							</tbody>
						</table>

						<div>
							<input type="submit" class="btn btn-primary" th:value="#{input.submit}" /> <a th:href="@{/browse/viewFo(id=${param.id})}"
								th:text="#{msg.cancel}" class="btn btn-link"></a>
						</div>

					</form>

				</div>

				<div th:if="${adUserList ne null and adUserList.empty}" id="noUserSearchResults" class="form-group">
					<h4 th:text="#{h.noUserSearchResults}"></h4>
				</div>

			</div>

			<div th:insert="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:insert="fragments/general :: footer(~{})"></footer>

</body>
</html>