<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="fragments/general.html :: common_header(~{::title},~{})">
<meta charset="utf-8">
<title th:text="#{h.manageFo}"></title>
</head>
<body class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:replace="fragments/general.html :: header_nav('home')"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:text="#{h.manageFo}"></h1>

		<div th:replace="fragments/general.html :: profile_info('home')"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="form-group row" id="nameRow">
					<label class="col-sm-2 col-form-label" th:utext="#{form.name}"></label>
					<div class="col-sm-10" th:text="${#locale.language eq 'fr' ? foProjections.get(0).getNameFr() : foProjections.get(0).getNameEn()}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label" th:utext="#{form.businessUnit}"></label>
					<div class="col-sm-10">
						<a th:if="${foProjections.get(0).getBusinessUnitNameEn() ne null or foProjections.get(0).getBusinessUnitNameFr() ne null}"
							th:href="@{/browse/viewBU(id=${foProjections.get(0).getBusinessUnitId()})}"
							th:text="${#locale.language eq 'fr' ? foProjections.get(0).getBusinessUnitNameFr() : foProjections.get(0).getBusinessUnitNameEn()}"></a>
					</div>
				</div>

				<div class="form-group row" id="fundingTypeRow">
					<label class="col-sm-2 col-form-label" th:utext="#{form.fundingType}"></label>
					<div class="col-sm-10" th:text="${foProjections.get(0).getFundingType()}"></div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" th:utext="#{form.frequency}"></label>
					<div class="col-sm-10" th:text="${foProjections.get(0).getFrequency()}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label" th:text="#{form.numAgencies}"></label>
					<div class="col-sm-10"
						th:text="${foProjections.get(0).getAgencyAcronymEn() eq null and foProjections.get(0).getAgencyAcronymFr() eq null ? 0 : foProjections.size()}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label" th:utext="#{form.participatingAgencies}"></label>
					<div class="col-sm-10" th:each="fo : ${foProjections}"
						th:text="${fo.getAgencyAcronymEn() ne null or fo.getAgencyAcronymFr() ne null ? 
										(#locale.language eq 'fr' ? fo.getAgencyAcronymFr() : fo.getAgencyAcronymEn()) : 'N/A'}">
					</div>
				</div>

				<div class="form-group">
					<a class="btn btn-primary" th:href="@{editFo(id=${param.id})}" role="button" th:text="#{link.editFo}"></a>
				</div>

				<div class="form-group">
					<div>
						<h3 th:text="#{h.gcs}" style="margin: 25px 0px;"></h3>
					</div>
				</div>

				<table id="grantingCapabilitiesTable" class="wb-tables table table-striped table-hover dataTable" aria-live="polite">
					<thead>
						<tr>
							<th th:text="#{th.grantingStage}"></th>
							<th th:text="#{th.gs}"></th>
							<th th:text="#{th.description}"></th>
							<th th:text="#{th.url}"></th>
							<th sec:authorize="hasRole('MDM ADMIN')" th:text="#{form.edit}"></th>
							<th sec:authorize="hasRole('MDM ADMIN')" th:text="#{form.delete}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="gc : ${gcProjections}">
							<td th:text="${#locale.language eq 'fr' ? gc.getGrantingStageNameFr() : gc.getGrantingStageNameEn()}"></td>
							<td th:text="${#locale.language eq 'fr' ? gc.getGrantingSystemNameFr() : gc.getGrantingSystemNameEn()}"></td>
							<td th:text="${gc.getDescription()}"></td>
							<td th:text="${gc.getUrl()}"></td>
							<td sec:authorize="hasRole('MDM ADMIN')"><a class="btn btn-primary" th:text="#{form.edit}" th:href="@{editGC(id=${gc.getId()})}"></a>
							</td>
							<td sec:authorize="hasRole('MDM ADMIN')"><a class="btn btn-primary" th:text="#{form.delete}" th:href="@{deleteGC(id=${gc.getId()})}"
								id="deleteGrantingCapabilityLink"></a></td>
						</tr>
					</tbody>
				</table>

				<div th:if="${actionMsg ne null}" class="form-group">
					<h4 th:text="${actionMsg}"></h4>
				</div>

				<a sec:authorize="hasRole('MDM ADMIN')" id="createGrantingCapabilityLink" class="btn btn-primary"
					th:href="@{addGrantingCapabilities(foId=${param.id})}" role="button" th:text="#{link.addGc}"></a>

				<div class="form-group">
					<div>
						<h3 th:text="#{h.linkedSfcs}" style="margin: 25px 0px;"></h3>
					</div>
				</div>

				<table id="systemFundingCycles" class="wb-tables table table-striped table-hover dataTable" aria-live="polite">
					<thead>
						<tr>
							<th th:text="#{th.extId}"></th>
							<th th:text="#{th.systemFo}"></th>
							<!-- 						<td th:text="#{th.startDateSystemPlanned}"></td> -->
							<!-- 						<td th:text="#{th.endDateSystemPlanned}"></td> -->
							<th th:text="#{th.numApps}"></th>
							<th th:text="#{th.yr}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="sfc : ${sfcProjections}">
							<td th:text="${sfc.getExtId()}"></td>
							<td th:text="${#locale.language eq 'fr' ? sfc.getSystemFundingOpportunityNameFr() : sfc.getSystemFundingOpportunityNameEn()}"></td>
							<td th:text="${#numbers.formatInteger(sfc.getNumAppsReceived(), 1, 'COMMA')}"></td>
							<td th:text="${sfc.getFiscalYear()}"></td>
						</tr>
					</tbody>
				</table>

			</div>

			<div th:replace="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:replace="fragments/general :: footer(~{})"></footer>

</body>
</html>

