<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="fragments/general.html :: common_header(~{::title},~{})">
<meta charset="utf-8">
<title th:text="#{h.manageFo}"></title>
</head>
<body class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:replace="fragments/general.html :: header_nav('home')"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:text="#{h.manageFo}"></h1>

		<div th:replace="fragments/general.html :: profile_info('home')"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="form-group row">
					<label class="col-sm-2 col-form-label" th:utext="#{form.name}"></label>
					<div class="col-sm-10" th:text="${fo.getLocalizedAttribute('name')}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label" th:utext="#{form.businessUnit}"></label>
					<div class="col-sm-10">
						<a th:if="${fo.businessUnit ne null}" th:href="@{/browse/viewBU(id=${fo.businessUnit.id})}"
							th:text="${fo.businessUnit.getLocalizedAttribute('acronym')}"></a>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label" th:utext="#{form.fundingType}"></label>
					<div class="col-sm-10" th:text="${fo.fundingType}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label" th:text="#{form.numAgencies}"></label>
					<div class="col-sm-10" th:text="${#lists.size(fo.participatingAgencies)}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label" th:utext="#{form.frequency}"></label>
					<div class="col-sm-10" th:text="${fo.frequency}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label" th:utext="#{form.participatingAgencies}"></label>
					<div class="col-sm-10">
						<span th:if="${fo.participatingAgencies.size() eq 0}" th:text="#{msg.none}"></span>
						<ul th:each="agency : ${fo.participatingAgencies}">
							<li class="col-sm-10" th:text="${agency.getLocalizedAttribute('acronym')}"></li>
						</ul>
					</div>
				</div>

				<div class="form-group">
					<a class="btn btn-primary" th:href="@{editFo(id=${fo.id})}" role="button" th:text="#{link.editFo}"></a>
				</div>

				<div class="form-group">
					<div>
						<h3 th:text="#{h.gcs}" style="margin: 25px 0px;"></h3>
					</div>
				</div>

				<table id="grantingCapabilitiesTable" class="wb-tables table table-striped table-hover dataTable" aria-live="polite">
					<thead>
						<tr>
							<th th:text="#{form.gs}"></th>
							<th th:text="#{form.gSys}"></th>
							<th th:text="#{form.description}"></th>
							<th th:text="#{form.url}"></th>
							<th sec:authorize="hasRole('MDM ADMIN')" th:text="#{form.edit}"></th>
							<th sec:authorize="hasRole('MDM ADMIN')" th:text="#{form.delete}"></th>
						</tr>
					</thead>
					<tbody th:if="${grantingCapabilities ne null}">
						<tr th:each="gc : ${grantingCapabilities}">
							<td th:text="${gc.grantingStage.getLocalizedAttribute('name')}"></td>
							<td th:text="${gc.grantingSystem.getLocalizedAttribute('name')}"></td>
							<td th:text="${gc.description}"></td>
							<td th:text="${gc.url}"></td>
							<td sec:authorize="hasRole('MDM ADMIN')"><a class="btn btn-primary" th:text="#{form.edit}" th:href="@{editGC(id=${gc.id})}"></a>
							</td>
							<td sec:authorize="hasRole('MDM ADMIN')"><a class="btn btn-primary" th:text="#{form.delete}" th:href="@{deleteGC(id=${gc.id})}"
								id="deleteGrantingCapabilityLink"></a></td>
						</tr>
					</tbody>
				</table>

				<div th:if="${actionMsg ne null}" class="form-group">
					<h4 th:text="${actionMsg}"></h4>
				</div>

				<a sec:authorize="hasRole('MDM ADMIN')" id="createGrantingCapabilityLink" class="btn btn-primary"
					th:href="@{addGrantingCapabilities(foId=${param.id})}" role="button" th:text="#{link.addGc}"></a>

				<div class="form-group">
					<div>
						<h3 th:text="#{h.linkedSfcs}" style="margin: 25px 0px;"></h3>
					</div>
				</div>

				<table id="fundingCycles" class="wb-tables table table-striped table-hover dataTable" aria-live="polite">
					<thead>
						<tr>
							<th th:text="#{th.grantingSystem}"></th>
							<th th:text="#{th.systemFo}"></th>
							<th th:text="#{th.yr}"></th>
							<!-- 						<td th:text="#{th.startDateSystemPlanned}"></td> -->
							<!-- 						<td th:text="#{th.endDateSystemPlanned}"></td> -->
							<th th:text="#{th.numApps}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="row : ${linkedSystemFundingCycles}">
							<td th:text="${row.systemFundingOpportunity.grantingSystem.acronym}"></td>
							<td th:text="${row.systemFundingOpportunity.getLocalizedAttribute('name')}"></td>
							<td th:text="${row.fiscalYear}"></td>
							<td th:text="${row.numAppsReceived}"></td>
						</tr>
					</tbody>
				</table>

			</div>

			<div th:replace="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:replace="fragments/general :: footer(~{})"></footer>

</body>
</html>

