<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="fragments/general.html :: common_header(~{::title},~{})">
<meta charset="utf-8">
<title th:text="#{h.searchUser}"></title>
</head>
<body class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:insert="fragments/general.html :: header_nav('home')"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:text="#{h.searchUser}"></h1>
		<!--  th:utext="${fundingOpp.searchUser}" -->

		<div th:insert="fragments/general.html :: profile_info('home')"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="web-frmvld">

					<form action="#" th:action="@{searchUser}" method="get" id="searchUserForm">

						<div class="form-group">
							<label for="searchUser"><span class="field-name" th:utext="#{link.fo.searchUser}"></span></label> <input type="text" name="username"
								id="searchUser" class="form-control" th:value="${param.username}" autofocus/>
						</div>

						<div class="form-group">
							<input type="submit" class="btn btn-primary" role="button" th:value="#{searchUser.submit}" />
						</div>

					</form>

				</div>

				<table th:if="${matchingUsers} ne null and ${matchingUsers.empty} eq false" class="wb-tables table table-striped table-hover dataTable">
					<thead>
						<tr>
							<th th:text="#{th.userLogin}"></th>
							<th th:text="#{th.name}"></th>
							<th th:text="#{th.dn}"></th>
							<th th:text="#{th.email}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${matchingUsers}">
							<td th:text="${user.userLogin}"></td>
							<td th:text="${user.fullName}"></td>
							<td th:text=${user.dn}></td>
							<td th:text="${user.email}"></td>
						</tr>
					</tbody>
				</table>

				<div th:if="${matchingUsers ne null and matchingUsers.empty}" class="form-group">
					<h4 th:text="#{h.noUserSearchResults}"></h4>
				</div>

			</div>

			<div th:insert="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:insert="fragments/general :: footer(~{})"></footer>

</body>
</html>
