<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="~{fragments/general.html :: common_header(~{::title},~{})}">
<meta charset="utf-8">
<title th:text="#{h.forbidden}"></title>
</head>
<body id="forbiddenByRoleErrorPage" class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:insert="~{fragments/general.html :: header_nav('home')}"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1>
			<span class="glyphicon glyphicon-warning-sign mrgn-rght-md text-danger"></span><span th:text="#{h.forbidden}"></span>
		</h1>

		<div th:insert="fragments/general.html :: profile_info('home')"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="alert alert-danger">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"
						style="color: darkred; font-family: Helvetica, Arial, sans-serif; font-size: 16px;" th:text="#{err.yourAcct}"></span>
				</div>

				<p th:text="#{p.forbidden.contactSupportCentral}"></p>

			</div>

			<div th:insert="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:insert="fragments/general :: footer(~{})"></footer>

</body>
</html>