<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="~{fragments/general.html :: common_header(~{::title},~{})}">
<meta charset="utf-8">
<title th:text="#{h.analyzeFoUploadData}"></title>
</head>
<body class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:insert="~{fragments/general.html :: header_nav('home')}"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:text="#{h.analyzeFoUploadData}"></h1>

		<div th:insert="~{fragments/general.html :: profile_info('home')}"></div>

		<div class="panel panel-default">

			<div class="panel body" style="margin-bottom: 0px;">

				<p th:text="#{p.admin.anaylzeFoUploadData.plsReview}"></p>

				<div class="col-md-3">

					<details open>

						<summary>
							<h4 th:text="#{h.filteringOpts}"></h4>
						</summary>

						<p class="mrgn-tp-md" th:text="#{p.filtering}"></p>

						<form class="wb-tables-filter" data-bind-to="uploadDataTable">

							<div class="form-group">
								<label for="dt_fundingCycle" th:text="#{th.fc}"></label> <select class="form-control" id="dt_fundingCycle" data-column="3">
									<option th:text="#{msg.all}" th:value="#{msg.all}"></option>
									<option th:each="fc : ${distinctFCs}" th:text="${fc}" th:value="${fc}"></option>
								</select>
							</div>

							<div class="form-group">
								<label for="dt_fo" th:text="#{th.fo}"></label> <select class="form-control" id="dt_fo" data-column="2">
									<option th:text="#{msg.all}" th:value="#{msg.all}"></option>
									<option th:each="fo : ${distinctFOs}" th:text="${fo}" th:value="${fo}"></option>
								</select>
							</div>

							<div class="form-group">
								<label for="dt_action" th:text="#{th.action}"></label> <select class="form-control" id="dt_action" data-column="8">
									<option th:text="#{msg.all}" th:value="#{msg.all}"></option>
									<option th:text="#{msg.exists}" th:value="#{msg.exists}"></option>
									<option th:text="#{msg.actionable}" th:value="#{msg.actionable}"></option>
								</select>
							</div>

							<div class="form-group">
								<button type="submit" class="btn btn-primary" aria-controls="uploadDataTable" th:text="#{msg.filter}"></button>
							</div>

							<div class="form-group">
								<button type="reset" class="btn btn-link btn-sm p-0" th:text="#{msg.defaults}"></button>
							</div>

						</form>

					</details>

				</div>

				<form method="POST" th:action="@{analyzeFoUploadData}">
					
					<div class="col-md-9">

						<input type="hidden" name="filename" th:value="${filename}" />


						<table id="uploadDataTable" class="wb-tables table table-striped table-hover dataTable" aria-live="polite">
							<!-- data-wb-tables='{
										"bDeferRender": true,
										"ajaxSource": "ajax/datasource.json",
										"order": [3, "desc"],
										"columns": [
											{ "data": "FUNDING_CYCLE", "className": "nws-tbl-fc" },
											{ "data": "FUNDING_OPPORTUNITY", "className": "nws-tbl-fo" },
											{ "data": "ACTION", "className": "nws-tbl-action" }
										]}'>
 -->
							<thead>
								<tr>
									<th th:text="#{th.fc}"></th>
									<th th:text="#{th.fo}"></th>
									<th th:text="#{th.action}"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="fo : ${fileRows}">
									<td th:text="${fo.foCycle}"></td>
									<td th:text="${fo.getLocalizedAttribute('programName')}"></td>
									<td>
										<div th:switch="${#arrays.contains(actionRowIds, fo.foCycle)}">
											<span th:case="true"><span th:utext="#{msg.forAction}" style="font-weight: normal"></span><input type="checkbox"
												name="idToAction" th:value="${fo.foCycle}" checked="checked" /></span> <label th:case="false" th:text="#{msg.exists}"
												style="font-weight: normal"></label>
										</div>
									</td>
								</tr>
							</tbody>

						</table>

					</div>

					<div class="form-group">
						<input type="submit" th:value="#{input.register}" class="btn btn-primary col-md-offset-11" />
					</div>

				</form>

				<div th:insert="fragments/general :: returnHome"></div>

			</div>

		</div>

	</main>

	<footer th:insert="fragments/general :: footer(~{})"></footer>

</body>
</html>

