<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="~{fragments/general.html :: common_header(~{::title},~{})}">
<meta charset="utf-8">
<title th:text="#{h.analyzeFoUploadData}"></title>
</head>
<body class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:insert="~{fragments/general.html :: header_nav('home')}"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:text="#{h.analyzeFoUploadData}"></h1>

		<div th:insert="~{fragments/general.html :: profile_info('home')}"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<p th:text="#{p.admin.anaylzeFoUploadData.plsReview}"></p>

				<div class="web-frmlvd">

					<form method="POST" th:action="@{analyzeFoUploadData}">

						<input type="hidden" name="filename" th:value="${filename}" />

						<div th:text="${fileRows.size()} gt 0 ? #{msg.allEntries(${fileRows.size()})} : #{msg.noEntries}" class="col-md-12" style="text-align: center;"></div>

						<table id="uploadDataTable" data-wb-tables='{ "paging" : false, "searching" : false, "info" : false }' class="wb-tables table table-striped table-hover dataTable" aria-live="polite">
							
							<thead>
								<tr>
									<th th:text="#{th.fc}"></th>
									<th th:text="#{th.fo}"></th>
									<th th:text="#{th.action}"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="fo : ${fileRows}">
									<td th:text="${fo.foCycle}"></td>
									<td th:text="${fo.getLocalizedAttribute('programName')}"></td>
									<td>
										<div th:switch="${#arrays.contains(actionRowIds, fo.foCycle)}">
											<span th:case="true"><span th:utext="#{msg.forAction}" style="font-weight: normal"></span><input type="checkbox"
												name="idToAction" th:value="${fo.foCycle}" checked="checked" /></span> <label th:case="false" th:text="#{msg.exists}"
												style="font-weight: normal"></label>
										</div>
									</td>
								</tr>
							</tbody>

						</table>

						<div class="form-group" style="margin-top: 25px;">
							<input type="submit" th:value="#{input.register}" class="btn btn-primary" />
						</div>
					</form>

				</div>

			</div>

			<div th:insert="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:replace="fragments/general :: footer(~{})"> </footer>

</body>
</html>

