<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="fragments/general.html :: common_header(~{::title},~{})">
<meta charset="utf-8">
<title th:text="#{h.createBu}"></title>
</head>
<body id="createBusinessUnitPage" class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:replace="fragments/general.html :: header_nav('home')"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:text="#{h.createBu}"></h1>

		<div th:replace="fragments/general.html :: profile_info('home')"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="web-frmvld">

					<form action="#" th:action="@{createBU}" th:object="${bu}" method="post">

						<div class="form-group">
							<label for="nameEn" class="required"><span class="field-name" th:text="#{form.nameEn}"></span><strong class="required"
								th:utext="#{form.required}"></strong></label> <input th:field="*{nameEn}" class="form-control" id="nameEn" type="text" required="required" />
							<!-- <div class="col-sm-5" th:if="${#fields.hasErrors('nameEn')}" th:errors="*{nameEn}" th:text="#{err.nameErr}"></div> -->
						</div>

						<div class="form-group">
							<label for="nameFr" class="required"><span class="field-name" th:text="#{form.nameFr}"></span><strong class="required"
								th:utext="#{form.required}"></strong></label> <input th:field="*{nameFr}" class="form-control" id="nameFr" type="text" required="required" />
							<!-- <div class="col-sm-5" th:if="${#fields.hasErrors('nameFr')}" th:errors="*{nameFr}"></div> -->
						</div>

						<div class="form-group">
							<label for="acronymEn" class="required"><span class="field-name" th:text="#{form.acronymEn}"></span><strong class="required"
								th:utext="#{form.required}"></strong></label> <input th:field="*{acronymEn}" class="form-control" id="acronymEn" type="text"
								required="required" />
							<!-- <div class="col-sm-5" th:if="${#fields.hasErrors('acronymEn')}" th:errors="*{acronymEn}"></div> -->
						</div>

						<div class="form-group">
							<label for="acronymFr" class="required"><span class="field-name" th:text="#{form.acronymFr}"></span><strong class="required"
								th:utext="#{form.required}"></strong></label> <input th:field="*{acronymFr}" class="form-control" id="acronymFr" type="text"
								required="required" />
							<!-- <div class="col-sm-5" th:if="${#fields.hasErrors('acronymFr')}" th:errors="*{acronymFr}"></div> -->
						</div>

						<div class="form-group">
							<label for="agency"><span class="field-name" th:text="#{form.agency}"></span></label> <label
								th:text="${#locale.language eq 'fr' ? agency.getNameFr() : agency.getNameEn()}" class="form-control" id="agency"
								style="border: none; -webkit-box-shadow: none; box-shadow: none;"></label>
						</div>

						<input hidden="true" name="agency" th:value="${agency.getId()}">

						<div>
							<input th:type="submit" class="btn btn-primary" role="button" th:value="#{input.submit}" /> <a class="btn btn-link"
								th:href="@{/browse/viewAgency(id=${agency.getId()})}" th:text="#{msg.cancel}"></a>
						</div>

					</form>

				</div>

			</div>

			<div th:replace="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:replace="fragments/general :: footer(~{})"></footer>

</body>
</html>
