<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{::link},~{::script})}">
<meta charset="ISO-8859-1">
<title th:text="#{title.createMR}"></title>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
</head>
<body id="createMemberRolePage">
	<div th:insert="~{fragments/general.html :: header_nav('home')}"></div>
	<div class="container">

		<div style="margin-bottom: 25px">
			<h1 th:text="#{h.createMR}"></h1>
		</div>

		<form action="#" th:action="@{createMR(buId=${param.buId})}" method="get">

			<input hidden="true" name="buId" th:value="${param.buId}" />

			<div class="form-group row" style="margin-bottom: 25px">
				<div th:text="#{link.fo.searchUser}" class="col-sm-2"></div>
				<input id="userSearchBox" th:type="search" th:name="searchStr" th:value="${param.searchStr}" />
			</div>

			<div class="form-group row" style="margin-bottom: 25px">
				<div class="col-sm-2">
					<input type="submit" id="searchButton" th:value="#{searchUser.submit}" class="btn btn-primary" />
				</div>
			</div>

		</form>

		<div th:if="${adUserList != null and !adUserList.isEmpty()}" id="searchResultsDiv" style="margin-bottom: 25px;">

			<form action="#" th:action="@{createMR(buId=${param.buId})}" method="post" th:object="${memberRole}">

				<div class="form-group row" style="margin-bottom: 25px">
					<div th:text="#{form.role}" class="col-sm-2"></div>
					<select id="hiddenRoleDropDown" th:field="*{role}">
						<option th:each="role : ${@roleServiceImpl.findAllRoles()}" th:text="${role.getLocalizedAttribute('name')}" th:value="${role.id}">
					</select>
				</div>

				<input type="hidden" th:value="${businessUnit}" th:field="*{businessUnit}" /> <input hidden="true" name="searchStr"
					th:value="${param.searchStr}" />

				<table id="memberRoleTable" class="table table-bordered" style="margin-bottom: 25px;">
					<thead>
						<tr>
							<th th:text="#{th.select}" style="text-align: center; width: 25px;"></th>
							<th th:text="#{th.name}"></th>
							<th th:text="#{th.userLogin}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${adUserList}">
							<td><input type="radio" name="select" style="width: 65px;" th:value="${user.userLogin.substring(0, 3)}" th:field="*{userLogin}" /></td>
							<td th:text="${user.fullName}"></td>
							<td th:text="${user.userLogin}"></td>
						</tr>
					</tbody>
				</table>

				<div class="form-group row">
					<div class="col-sm-1">
						<input type="submit" class="btn btn-primary" th:value="#{input.submit}" />
					</div>
					<div class="col-sm-1">
						<a th:href="@{/browse/viewBU(id=${param.buId})}" th:text="#{msg.cancel}" class="btn btn-primary"></a>
					</div>
				</div>

				<div th:if="${#fields.hasErrors('userLogin')}" th:errors="*{userLogin}" style="color: red;" th:text="#{err.userLogin}"></div>

			</form>

		</div>

		<div th:if="${adUserList != null and adUserList.isEmpty()}" id="noUserSearchResults" class="form-group row" style="margin-bottom: 25px;">
			<h4 class="col-sm-6" th:text="#{h.noUserSearchResults}"></h4>
		</div>

	</div>

</body>
</html>

