<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="fragments/general.html :: common_header(~{::title},~{})">
<meta charset="utf-8">
<title th:text="#{h.foAllAuditLogs}"></title>
</head>
<body id="fundingOpportunityAuditLogPage" class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:replace="fragments/general.html :: header_nav('home')"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:text="#{h.foAllAuditLogs}"></h1>

		<div th:replace="fragments/general.html :: profile_info('home')"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<table class="wb-tables table table-striped table-hover dataTable" aria-live="polite"
						data-wb-tables='{ "scrollX" : "true" }'>
					<thead>
						<tr>
							<th th:text="#{th.id}"></th>
							<th th:text="#{th.user} 
									+ '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
									+ '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
									+ '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
									+ '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'"></th>
							<th th:text="#{th.type}"></th>
							<th th:utext="#{form.nameEn} 
									+ '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
									+ '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
									+ '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'"></th>
							<th th:utext="#{form.nameFr}
									+ '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
									+ '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
									+ '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'"></th>
							<th th:text="#{form.frequency}"></th>
							<th th:text="#{form.fundingType}
									+ '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'"></th>
							<th th:text="#{th.complex}"></th>
							<th th:text="#{th.edi}"></th>
							<th th:text="#{th.jointInitiative}"></th>
							<th th:text="#{form.loi}"></th>
							<th th:text="#{form.noi}"></th>
							<th th:text="#{th.partnerOrg}"></th>
							<th th:text="#{th.bu}"></th>
							<th th:text="#{th.date}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="revision : ${revisionList}">
							<td><a th:text="${revision[0]}" th:href="@{/browse/viewFo(id=${revision[0]})}"></a></td>
							<td th:text="${revision[1]}"></td>
							<td th:text="${revision[2]}"></td>
							<td th:text="${revision[3]}"></td>
							<td th:text="${revision[4]}"></td>
							<td th:text="${revision[5]}"></td>
							<td th:text="${revision[6]}"></td>
							<td th:text="${revision[7]}"></td>
							<td th:text="${revision[8]}"></td>
							<td th:text="${revision[9]}"></td>
							<td th:text="${revision[10]}"></td>
							<td th:text="${revision[11]}"></td>
							<td th:text="${revision[12]}"></td>
							<td><a th:text="${revision[13]}" th:href="@{/browse/viewBU(id=${revision[13]})}"></a></td>
							<td th:text="${revision[14]}"></td>
						</tr>
					</tbody>
				</table>

			</div>

			<div th:replace="fragments/general :: returnHome"></div>

		</div>
		
	</main>

	<footer th:replace="fragments/general :: footer(~{})"></footer>

</body>
</html>
