<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="~{fragments/general.html :: common_header(~{::title},~{})}">
<meta charset="utf-8">
<title th:text="#{title.generateTestParticipations}"></title>
</head>
<body class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:insert="~{fragments/general.html :: header_nav('home')}"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<div th:if="${actionMessage != null}" th:text="${actionMessage}"></div>

		<h1 th:text="#{title.generateTestParticipations}"></h1>

		<div th:insert="~{fragments/general.html :: profile_info('home')}"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<p th:text="#{intro.generateTestParticipations}"></p>

				<div class="web-frmlvd">

					<form method="post" action="generateTestParticipations">

						<div class="form-group">
							<input th:type="submit" class="btn btn-primary" role="button" th:value="#{input.generateTestAppParticipations}" />
						</div>

					</form>

				</div>

			</div>

			<div th:insert="fragments/general :: returnHome"></div>

		</div>
		
	</main>

	<footer th:insert="fragments/general :: footer(~{})"></footer>

</body>
</html>