<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="~{fragments/general.html :: common_header(~{::title},~{})}">
<meta charset="utf-8">
<title th:text="#{title.home}"></title>
</head>
<body class="home" vocab="http://schema.org/" typeof="WebPage">

	<div th:insert="~{fragments/general.html :: header_nav('home')}"></div>

	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:text="#{title.home}"></h1>

		<div th:insert="~{fragments/general.html :: profile_info('home')}"></div>

		<h3 th:text="#{p.home.adminZone}"></h3>

		<p th:if="${actionMsg != null}" th:text="${actionMsg}"></p>

		<div class="row">
			<div class="col-md-6">
				<div class="well">
					<div class="row">
						<div class="col-md-1">
							<span class="glyphicon glyphicon-book"></span>
						</div>
						<div class="col-md-11">
							<a href="/admin/selectFileForComparison" th:text="#{link.selectFileForComparison}"></a>
							<p th:text="#{p.analyzeFoUploadExtracts}"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="well">
					<div class="row">
						<div class="col-md-1">
							<span class="fa fa-files-o"></span>
						</div>
						<div class="col-md-11">
							<a href="/admin/analyzeSystemFOs" th:text="#{link.analyzeSFos}"></a>
							<p th:text="#{p.linkFosToMaster}"></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="well">
					<div class="row">
						<div class="col-md-1">
							<span class="fa fa-undo"></span>
						</div>
						<div class="col-md-11">
							<a style="color: grey" href="/admin/generateTestParticipations" th:text="#{link.generateTestParticipations}"></a>
							<p th:text="#{p.generateTestAppParts}"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="well">
					<div class="row">
						<div class="col-md-1">
							<span class="fa fa-undo"></span>
						</div>
						<div class="col-md-11">
							<a style="color: grey" href="/admin/generateTestAwards" th:text="#{link.generateTestAwards}"></a>
							<p th:text="#{p.generateTestAwards}"></p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</main>

	<footer th:insert="~{fragments/general.html :: footer(~{})}"></footer>

</body>
</html>