<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="fragments/general.html :: common_header(~{::title},~{})">
<meta charset="utf-8">
<title th:if="${#conversions.convert(param.id, 'Long') gt 0}" th:text="#{h.mrOneAuditLog}"></title>
<title th:if="${#conversions.convert(param.id, 'Long') le 0}" th:text="#{h.mrAllAuditLogs}"></title>
</head>
<body id="memberRoleAuditLogPage" class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:replace="fragments/general.html :: header_nav('home')"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:if="${#conversions.convert(param.id, 'Long') gt 0}" th:text="#{h.mrOneAuditLog}"></h1>
		<h1 th:if="${#conversions.convert(param.id, 'Long') le 0}" th:text="#{h.mrAllAuditLogs}"></h1>
		<div th:replace="fragments/general.html :: profile_info('home')"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<table class="wb-tables table table-striped table-hover dataTable" aria-live="polite">
					<thead>
						<tr>
							<th th:text="#{th.id}"></th>
							<th th:text="#{th.user}"></th>
							<th th:text="#{th.type}"></th>
							<th th:text="#{th.userLogin}"></th>
							<th th:text="#{th.ediAuthorized}"></th>
							<th th:text="#{th.role}"></th>
							<th th:text="#{th.bu}"></th>
							<th th:text="#{th.date}"></th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="revision : ${revisionList}">
							<td th:text="${revision[0]}"></td>
							<td th:text="${revision[1]}"></td>
							<td th:text="${revision[2]}"></td>
							<td th:text="${revision[3]}"></td>
							<td th:text="${revision[4]}"></td>
							<td th:text="${revision[5]}"></td>
							<td><a th:text="${revision[6]}" th:href="@{/browse/viewBU(id=${revision[6]})}"></a></td>
							<td th:text="${revision[7]}"></td>
						</tr>
					</tbody>

				</table>

				<div class="form-group">
					<a
						th:if="${!revisionList.isEmpty()} and ${#conversions.convert(param.id, 'Long') gt 0} and ${revisionList.get(revisionList.size() - 1)[6]}"
						class="btn btn-primary" th:href="@{/browse/viewBU(id=${revisionList.get(revisionList.size() - 1)[6]})}" th:text="#{link.goBack}"></a>
					<a
						th:if="${revisionList.isEmpty()} or ${#conversions.convert(param.id, 'Long') le 0} or ${revisionList.get(revisionList.size() - 1)[6] eq null}"
						class="btn btn-primary" href="/admin/auditLogs" th:text="#{link.goBack}"></a>
				</div>

			</div>

			<div th:replace="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:replace="fragments/general :: footer(~{})"></footer>

</body>
</html>