<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="fragments/general.html :: common_header(~{::title},~{})">
<meta charset="utf-8">
<title th:text="#{h.editProgramLead}"></title>
</head>
<body id="generalErrorPage" class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:insert="fragments/general.html :: header_nav('home')"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1>My Thymeleaf Error Page</h1>

		<div th:insert="fragments/general.html :: profile_info('home')"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<table>
					<tr>
						<td>Date</td>
						<td th:text="${timestamp}" />
					</tr>
					<tr>
						<td>Path</td>
						<td th:text="${path}" />
					</tr>
					<tr>
						<td>Error</td>
						<td th:text="${error}" />
					</tr>
					<tr>
						<td>Status</td>
						<td th:text="${status}" />
					</tr>
					<tr>
						<td>Message</td>
						<td th:text="${message}" />
					</tr>
					<tr>
						<td>Exception</td>
						<td th:text="${exception}" />
					</tr>
					<tr>
						<td>Trace</td>
						<td><pre th:text="${trace}"></pre></td>
					</tr>
				</table>

			</div>

			<div th:insert="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:insert="fragments/general :: footer(~{})"></footer>

</body>
</html>