<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="~{fragments/general.html :: common_header(~{::title},~{})}">
<meta charset="utf-8">
<title th:text="#{title.appParticipations}"></title>
</head>
<body id="appParticipationsPage" class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:replace="fragments/general.html :: header_nav('home')"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:text="#{title.appParticipations}"></h1>

		<div th:replace="fragments/general.html :: profile_info('home')"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<p th:text="#{intro.appParticipations}"></p>

				<table id="dataTable" class="wb-tables table table-striped table-hover dataTable" aria-live="polite">
					<thead>
						<tr>
							<th th:text="#{th.application}"></th>
							<th th:text="#{th.programId}"></th>
							<th th:text="#{th.name}"></th>
							<th th:text="#{th.role}"></th>
							<th th:text="#{th.orgName}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ap : ${appParticipations}">
							<td style="width: 175px;"><a th:text="${ap.applId}" th:href="@{/browse/viewAP(id=${ap.id})}"></a><a
								th:if="${ap.ediAuthorized} eq true" th:href="@{/browse/viewAppParticipationEdi(id=${ap.id})}" style="margin-left: 10px;"><span
									class="glyphicon glyphicon-eye-open"></span></a></td>
							<td><span th:text="${ap.programId}"></span></td>
							<td><span th:text="${ap.familyName} + ', ' + ${ap.firstName}"></span></td>
							<td><span th:text="${#locale.language eq 'fr' ? ap.roleFr : ap.roleEn}"></span></td>
							<td><span th:text="${#locale.language eq 'fr' ? ap.organizationNameFr : ap.organizationNameEn}"></span></td>
						</tr>
					</tbody>
				</table>

			</div>

			<div th:replace="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:replace="fragments/general :: footer(~{})"></footer>

</body>
</html>
