<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="~{fragments/general.html :: common_header(~{::title},~{})}">
<meta charset="utf-8">
<title th:text="#{title.awards}"></title>
</head>
<body id="awardsPage" class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:insert="~{fragments/general.html :: header_nav('home')}"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:text="#{title.awards}"></h1>

		<div th:insert="~{fragments/general.html :: profile_info('home')}"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<p th:text="#{intro.awards}"></p>

				<table id="dataTable" class="wb-tables table table-striped table-hover dataTable" aria-live="polite">

					<thead>
						<tr>
							<th th:text="#{th.application}"></th>
							<th th:text="#{th.programId}"></th>
							<th th:text="#{th.recipient}"></th>
							<th th:text="#{th.amtAwarded}"></th>
							<th th:text="#{th.amtRequested}"></th>
							<th th:text="#{th.fundingYear}"></th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="award : ${awardList}">
							<td th:text="${award.applId}"></td>
							<td th:text="${@applicationParticipationServiceImpl.findAppPartByApplId(award.applId).getProgramId()}"></td>
							<td th:text="${award.familyName} + ', ' + ${award.givenName}"></td>
							<td th:text="'$' + ${#numbers.formatDecimal(award.awardedAmount, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
							<td th:text="'$' + ${#numbers.formatDecimal(award.requestedAmount, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
							<td th:text="${award.fundingYear}"></td>
						</tr>
					</tbody>

				</table>

			</div>

			<div th:insert="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:insert="fragments/general :: footer(~{})"></footer>

</body>
</html>
