<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{::link},~{::script})}">
	<meta charset="ISO-8859-1">
	<title th:text="#{title.awards}"></title>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		$(document).ready( function () {
			var table = $('#awardsTable').DataTable({});
		});
	</script>
</head>
<body id="awardsPage">

	<div th:insert="~{fragments/general.html :: header_nav('home')}"></div>

	<div class="container">
	
		<h1 th:text="#{title.awards}"></h1>
		
		<p th:text="#{intro.awards}"></p>
		
		<table id="awardsTable" class="display">
			
			<thead>
				<tr>
					<th th:text="#{th.program}"></th>
					<th th:text="#{th.recipient}"></th>
					<th th:text="#{th.amt}"></th>
					<th th:text="#{th.fundingYear}"></th>
				</tr>
			</thead>
			
			<tbody>
				<!-- <tr th:each="strArr : $awardStrArrs">
					<td th:text="${strArr[0]}"></td>
					<td th:text="${strArr[1]}"></td>
					<td th:text="${strArr[2]}"></td>
					<td th:text="${strArr[3]}"></td>
				</tr> -->
			</tbody>
		
		</table>
	
	</div>

</body>
</html>




























