<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="~{fragments/general.html :: common_header(~{::title},~{})}">
<meta charset="utf-8">
<title th:text="#{title.home}"></title>
</head>
<body id="fundingOpportunitiesPage" class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:insert="~{fragments/general.html :: header_nav('home')}"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:text="#{h.fundingOpportunities}"></h1>

		<div th:insert="~{fragments/general.html :: profile_info('home')}"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<p th:text="#{intro.fundingOpportunities}"></p>

				<div class="col-md-3">

					<details open>

						<summary>
							<h4 th:text="#{h.filteringOpts}"></h4>
						</summary>

						<p class="mrgn-tp-md" th:text="#{p.filtering}"></p>

						<form class="wb-tables-filter" data-bind-to="fundingOpportunitiesTable">

							<div class="form-group">
								<label for="dt_leadAgency" th:text="#{form.leadAgency}"></label> <select class="form-control" id="dt_leadAgency" data-column="0">
									<option th:text="#{msg.all}" th:value="#{msg.all}"></option>
									<option th:each="agency : ${distinctAgencies}" th:text="${agency}" th:value="${agency}"></option>
								</select>
							</div>

							<div class="form-group">
								<label for="dt_leadAgency" th:text="#{form.division}"></label> <select class="form-control" id="dt_division" data-column="1">
									<option th:text="#{msg.all}" th:value="#{msg.all}"></option>
									<!-- th:each below will become the buStream's divisions when the model changes -->
									<option th:each="agency : ${distinctAgencies}" th:text="${agency}" th:value="${agency}"></option>
								</select>
							</div>

							<div class="form-group">
								<label for="dt_applySystem" th:text="#{th.applySystem}"></label> <select class="form-control" id="dt_applySystem" data-column="2">
									<option th:text="#{msg.all}" th:value="#{msg.all}"></option>
									<option th:each="sys : ${distinctApplySystems}" th:value="${sys}" th:text="${sys}"></option>
								</select>
							</div>

							<div class="form-group">
								<label for="dt_awardSystem" th:text="#{th.awardSystem}"></label> <select class="form-control" id="dt_awardSystem" data-column="3">
									<option th:text="#{msg.all}" th:value="#{msg.all}"></option>
									<option th:each="sys : ${distinctAwardSystems}" th:value="${sys}" th:text="${sys}"></option>
								</select>
							</div>

							<div class="form-group">
								<button id="filterBtn" class="btn btn-primary" aria-controls="fundingOpportunitiesTable" type="button" th:text="#{msg.filter}"></button>
							</div>

							<div class="form-group">
								<button id="resetBtn" type="reset" class="btn btn-link btn-sm p-0" th:text="#{msg.defaults}"></button>
							</div>

						</form>

					</details>

				</div>

				<div class="col-md-9">

					<table id="fundingOpportunitiesTable" class="wb-tables table table-striped table-hover dataTable" aria-live="polite">
						<thead>
							<tr>
								<th th:text="#{th.foName}"></th>
								<th th:text="#{th.leadAgency}"></th>
								<th th:text="#{th.division}"></th>
								<th th:text="#{th.applySystem}"></th>
								<th th:text="#{th.awardSystem}"></th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="fo : ${fundingOpportunities}">
								<td><a th:href="@{viewFo(id=${fo.id})}"><span th:text="${fo.getLocalizedAttribute('name')}"></span></a></td>
								<td><span th:text="${fo.businessUnit == null} ? 'None' : ${fo.businessUnit.agency.getLocalizedAttribute('acronym')}"></span></td>
								<td><span th:text="${fo.businessUnit == null} ? 'None' : ${fo.businessUnit.agency.getLocalizedAttribute('acronym')}"></span></td>
								<td><span th:text="${applySystemByFoMap.get(fo.id) == null} ? 'None' : ${applySystemByFoMap.get(fo.id).acronym}"></span></td>
								<td><span th:if="${awardSystemsByFoMap.get(fo.id) == null}" th:value="None"></span> <span
									th:if="${awardSystemsByFoMap.get(fo.id) != null}"><span th:each="system : ${awardSystemsByFoMap.get(fo.id)}"><span
											th:text="${system.acronym}"></span></span></span></td>
								<!-- 	           			<td><span th:text="${fcByFoMap.get(fo.id) == null} ? 'None' : ${fcByFoMap.get(fo.id).startDate}"></span></td>   add cycle start date -->
								<!-- 	           			<td><span th:text="${fcByFoMap.get(fo.id) == null} ? 'None' : ${fcByFoMap.get(fo.id).endDate}"></span></td>	  add cycle end date -->
								<!-- 	           			<td><span th:text="${fcByFoMap.get(fo.id) == null} ? 'None' : ${fcByFoMap.get(fo.id).expectedApplications}"></span></td>   add expected applications -->
							</tr>
						</tbody>
					</table>

				</div>

				<div th:if="${#request.isUserInRole('ROLE_MDM ADMIN')}">
					<div style="display: flex; justify-content: flex-end; width: 100%; margin-top: 10px; color: red">
						<h3>
							<a href="/admin/createFo" th:text="#{link.addFo}"></a>
						</h3>
					</div>
				</div>

			</div>

			<div th:replace="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:replace="fragments/general.html :: footer(~{})"></footer>
	
	<script type="text/javascript">

		function filterTable(colNum, optSelected) {
			var dTable = $('#fundingOpportunitiesTable').DataTable();
			if (optSelected !== 'All' && optSelected !== "Tous") {
				dTable
					.column(colNum)
					.search('^' + optSelected + '$', true)
					.draw();
			};	
		};
		
		function resetTableFilters() {
			var dTable = $('#fundingOpportunitiesTable').DataTable();
			dTable
	 		.columns([1, 2, 3, 4])
	 		.search('.*', true)
	 		.draw();
		};
	
		$(function(){
	
			 $("#filterBtn").click(function(){
					resetTableFilters();				 	
				 
					filterTable(1, document.getElementById("dt_leadAgency").value);
					filterTable(2, document.getElementById("dt_division").value);
					filterTable(3, document.getElementById("dt_applySystem").value);
					filterTable(4, document.getElementById("dt_awardSystem").value);
			}); 
			 
			$("#resetBtn").click(function() {
				resetTableFilters();
			}); 
		});
	
	</script>

</body>
</html>
