<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="~{fragments/general.html :: common_header(~{::title},~{})}">
<meta charset="utf-8">
<title th:text="#{title.appPart}"></title>
</head>
<body id="viewOneAppPartPage" class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:replace="fragments/general.html :: header_nav('home')"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:text="#{title.appPart}"></h1>

		<div th:replace="fragments/general.html :: profile_info('home')"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="form-group row">
					<label class="col-sm-4 col-form-label" th:utext="#{form.name}"></label>
					<div class="col-sm-8" th:text="${ap.getFirstName()} + ' ' + ${ap.getFamilyName()}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label" th:utext="#{form.personIdentifier}"></label>
					<div class="col-sm-8" th:text="${ap.getPersonIdentifier()}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label" th:utext="#{form.applicationIdentifier}"></label>
					<div class="col-sm-8" th:text="${ap.getApplicationIdentifier()}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label" th:utext="#{form.applId}"></label>
					<div class="col-sm-8" th:text="${ap.getApplId()}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label" th:utext="#{form.role}"></label>
					<div class="col-sm-8" th:text="${#locale.language eq 'fr' ? ap.getRoleFr() : ap.getRoleEn()}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label" th:utext="#{th.programId}"></label>
					<div class="col-sm-8" th:text="${ap.getProgramId()}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label" th:utext="#{form.programName}"></label>
					<div class="col-sm-8" th:text="${#locale.language eq 'fr' ? ap.getProgramNameFr() : ap.getProgramNameEn()}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label" th:utext="#{form.competitionYr}"></label>
					<div class="col-sm-8" th:text="${ap.getCompetitionYear()}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label" th:utext="#{form.orgName}"></label>
					<div class="col-sm-8" th:text="${#locale.language eq 'fr' ? ap.getOrganizationNameFr() : ap.getOrganizationNameEn()}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label" th:utext="#{form.country}"></label>
					<div class="col-sm-8" th:text="${ap.getCountry()}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label" th:utext="#{form.provState}"></label>
					<div class="col-sm-8" th:text="${ap.getProvinceState()}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label" th:utext="#{form.city}"></label>
					<div class="col-sm-8" th:text="${ap.getCity()}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label" th:utext="#{form.dateCreated}"></label>
					<div class="col-sm-8" th:text="${formattedCreatedDate}"></div>
				</div>

			</div>

			<div th:replace="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:replace="fragments/general :: footer(~{})"></footer>

</body>
</html>