<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="~{fragments/general.html :: common_header(~{::title},~{})}">
<meta charset="utf-8">
<title th:text="#{h.fcs}"></title>
</head>
<body id="viewFundingCyclesForFiscalYearPage" class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:insert="~{fragments/general.html :: header_nav('home')}"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:text="#{h.fcs} + ' - ' + ${fcProjections.get(0).getFiscalYear()}"></h1>

		<div th:insert="~{fragments/general.html :: profile_info('home')}"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<table id="fcTable" class="wb-tables table table-striped table-hover" aria-live="polite">
						<thead>
							<tr>
								<th th:text="#{th.fo}"></th>
								<th th:text="#{th.startDate}"></th>
								<th th:text="#{th.openEnded}"></th>
								<th th:text="#{th.endDate}"></th>
								<th th:text="#{th.startDateNOI}"></th>
								<th th:text="#{th.endDateNOI}"></th>
								<th th:text="#{th.startDateLOI}"></th>
								<th th:text="#{th.endDateLOI}"></th>
								<th th:text="#{th.appsExpected}"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="fc : ${fcProjections}">
								<td><a th:href="@{/browse/viewFo(id=${fc.getFundingOpportunityId()})}" th:text="${#locale.language eq 'fr' ? fc.getFundingOpportunityNameFr() : fc.getFundingOpportunityNameEn()}"></a></td>
								<td th:text="${fc.getStartDate()}"></td>
								<td th:if="${fc.getIsOpenEnded()}" th:text="#{msg.yes}"></td>
								<td th:if="${fc.getIsOpenEnded()} eq false" th:text="#{msg.no}"></td>
								<td th:text="${fc.getEndDate()}"></td>
								<td th:text="${fc.getStartDateNOI()}"></td>
								<td th:text="${fc.getEndDateNOI()}"></td>
								<td th:text="${fc.getStartDateLOI()}"></td>
								<td th:text="${fc.getEndDateLOI()}"></td>
								<td th:text="${#numbers.formatInteger(fc.getNumAppsExpected(), 1, 'COMMA')}"></td>
							</tr>
						</tbody>
					</table>
			
			</div>

			<div th:insert="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:insert="fragments/general :: footer(~{})"></footer>

</body>
</html>