<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" id="/browse/viewFoPage">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{},~{})}">
<title th:utext="#{title.viewAppParticipationEdi}"></title>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('programs')}"></div>
	<div class="container">
		<h1 th:utext="#{h.viewAppParticipationEdi}"></h1>
		<div class="form-group row" >
			<div class="col-sm-2 col-form-label" th:utext="#{form.applicationIdentifier}">Application ID</div>
			<div class="col-sm-10" th:text="${appParticipation.applicationIdentifier}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.applId}">ApplId</div>
			<div class="col-sm-10" th:text="${appParticipation.applId}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.dateOfBirthIndicator}">DOB Indicator</div>
			<div class="col-sm-10" th:text="${appParticipation.dateOfBirthIndicator}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.dateOfBirth}">DOB</div>
			<div class="col-sm-10" th:text="${appParticipation.dateOfBirth}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.genderSelection}">Gender Selection</div>
			<div class="col-sm-10" th:text="${appParticipation.genderSelection}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.indIdentityResponse}">Ind Response</div>
			<div class="col-sm-10" th:text="${appParticipation.indIdentityResponse}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.indIdentityPrefNotTo}">Ind Respons Pref not toe</div>
			<div class="col-sm-10" th:text="${appParticipation.indIdentityPrefNotTo}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label"><span th:utext="#{form.indIdentitySelection}">Ind selection </span>1</div>
			<div class="col-sm-10" th:text="${appParticipation.indIdentitySelection1}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label"><span th:utext="#{form.indIdentitySelection}">Ind selection </span>2</div>
			<div class="col-sm-10" th:text="${appParticipation.indIdentitySelection2}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label"><span th:utext="#{form.indIdentitySelection}">Ind selection </span>3</div>
			<div class="col-sm-10" th:text="${appParticipation.indIdentitySelection3}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.disabilityResponse}">Disability response</div>
			<div class="col-sm-10" th:text="${appParticipation.disabilityResponse}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.visibleMinPrefNotTo}">visible min pref</div>
			<div class="col-sm-10" th:text="${appParticipation.visibleMinPrefNotTo}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label"><span th:utext="#{form.visibleMinSelection}">visible min selection</span> 1</div>
			<div class="col-sm-10" th:text="${appParticipation.visibleMinSelection1}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label"><span th:utext="#{form.visibleMinSelection}">visible min selection</span> 2</div>
			<div class="col-sm-10" th:text="${appParticipation.visibleMinSelection1}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label"><span th:utext="#{form.visibleMinSelection}">visible min selection</span> 3</div>
			<div class="col-sm-10" th:text="${appParticipation.visibleMinSelection1}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label"><span th:utext="#{form.visibleMinSelection}">visible min selection</span> 4</div>
			<div class="col-sm-10" th:text="${appParticipation.visibleMinSelection1}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label"><span th:utext="#{form.visibleMinSelection}">visible min selection</span> 5</div>
			<div class="col-sm-10" th:text="${appParticipation.visibleMinSelection1}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label"><span th:utext="#{form.visibleMinSelection}">visible min selection</span> 6</div>
			<div class="col-sm-10" th:text="${appParticipation.visibleMinSelection1}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label"><span th:utext="#{form.visibleMinSelection}">visible min selection</span> 7</div>
			<div class="col-sm-10" th:text="${appParticipation.visibleMinSelection1}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label"><span th:utext="#{form.visibleMinSelection}">visible min selection</span> 8</div>
			<div class="col-sm-10" th:text="${appParticipation.visibleMinSelection1}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label"><span th:utext="#{form.visibleMinSelection}">visible min selection</span> 9</div>
			<div class="col-sm-10" th:text="${appParticipation.visibleMinSelection1}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label"><span th:utext="#{form.visibleMinSelection}">visible min selection</span> 10</div>
			<div class="col-sm-10" th:text="${appParticipation.visibleMinSelection1}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label"><span th:utext="#{form.visibleMinSelection}">visible min selection</span> 11</div>
			<div class="col-sm-10" th:text="${appParticipation.visibleMinSelection1}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.visibleMinorityResponse}">visible min response</div>
			<div class="col-sm-10" th:text="${appParticipation.visibleMinorityResponse}"></div>
		</div>
	</div>
</body>
</html>

