<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="~{fragments/general.html :: common_header(~{::title},~{})}">
<meta charset="utf-8">
<title th:text="#{h.fcCal}"></title>
</head>
<style type="text/css">
.cal-weekday-header {
	text-align: center;
	border: 1px solid #d8d8d8;
	width: 150px; border-spacing 0px 0px;
	padding: 2px;
	box-sizing: content-box;
}

.cal-day-cell {
	border: 1px solid #d8d8d8;
	line-height: 2em; border-spacing 0px 0px;
	padding: 2px;
	min-height: 100px;
	box-sizing: content-box;
	width: 150px;
}

.NOI-start {
	border: 1px solid #d8d8d8;
	white-space: nowrap;
	font-size: 12.2333px;
	overflow: hidden;
	font-color: rgb(0, 0, 0);
	background: linear-gradient(-90deg, green 10%, #B3E5FC 10%);
}

.NOI-end {
	border: 1px solid #d8d8d8;
	white-space: nowrap;
	font-size: 12.2333px;
	overflow: hidden;
	font-color: rgb(0, 0, 0);
	background: linear-gradient(-90deg, red 10%, #B3E5FC 10%);
}

.LOI-start {
	border: 1px solid #d8d8d8;
	white-space: nowrap;
	font-size: 12.2333px;
	overflow: hidden;
	font-color: rgb(0, 0, 0);
	background: linear-gradient(-90deg, green 10%, #EFEBE9 10%);
}

.LOI-end {
	border: 1px solid #d8d8d8;
	white-space: nowrap;
	font-size: 12.2333px;
	overflow: hidden;
	font-color: rgb(0, 0, 0);
	background: linear-gradient(-90deg, red 10%, #EFEBE9 10%);
}

.sshrc {
	border: 1px solid dimgrey;
	background: lightyellow;
	font-size: 12px;
	white-space: nowrap;
	margin-bottom: 0px;
}

.nserc {
	border: 1px solid dimgrey;
	background: lightblue;
	font-size: 12px;
	white-space: nowrap;
	margin-bottom: 0px;
}

.cihr {
	border: 1px solid dimgrey;
	background: lightgreen;
	white-space: nowrap;
	font-size: 12px;
}

.startDate {
	border: 3px red solid;
	margin-bottom: 2px;
	text-decoration: none;
}

.endDate {
	border: 3px black solid;
	margin-bottom: 2px;
	text-decoration: none;
}

.startDateLOI {
	border: 3px darkgreen solid;
	margin-bottom: 2px;
	text-decoration: none;
}

.endDateLOI {
	border: 3px purple solid;
	margin-bottom: 2px;
	text-decoration: none;
}

.startDateNOI {
	border: 3px saddlebrown solid;
	margin-bottom: 2px;
	text-decoration: none;
}

.endDateNOI {
	border: 3px blue solid;
	margin-bottom: 2px;
	text-decoration: none;
}

a:link, a:visited {
	color: black;
}
</style>
<body id="viewFundingCycleCalendarPage">
	<div th:insert="~{fragments/general.html :: header_nav('home')}"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:text="#{h.fcCal}"></h1>

		<div th:insert="~{fragments/general.html :: profile_info('home')}"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<p th:text="#{p.browse.viewCal.upcoming}"></p>

				<div class="col-md-12">

					<div class="form-group row">
						<div class="col-md-offset-4 col-md-1" style="text-align: center;">
							<a th:href="@{viewCalendar(plusMinusMonth=${minusMonth})}"> << </a>
						</div>
						<div class="col-md-2" style="text-align: center;">
							<span th:utext="#{${'cal.' + calGrid.month.monthValue}}"></span> <span th:text="${calGrid.month.year}"></span>
						</div>
						<div class="col-md-1" style="text-align: center;">
							<a th:href="@{viewCalendar(plusMinusMonth=${plusMonth})}">>></a>
						</div>
					</div>

					<div class="row">
						<div class="col-md-1 cal-weekday-header" th:text="#{day.su}"></div>
						<div class="col-md-1 cal-weekday-header" th:text="#{day.m}"></div>
						<div class="col-md-1 cal-weekday-header" th:text="#{day.tu}"></div>
						<div class="col-md-1 cal-weekday-header" th:text="#{day.w}"></div>
						<div class="col-md-1 cal-weekday-header" th:text="#{day.th}"></div>
						<div class="col-md-1 cal-weekday-header" th:text="#{day.f}"></div>
						<div class="col-md-1 cal-weekday-header" th:text="#{day.sa}"></div>
					</div>
					<div th:each="row : ${calGrid.dataGrid}" class="row">
						<div class="col-md-1 cal-day-cell" th:each="col : ${row}" style="overflow: hidden;">
							<div style="text-align: right;" th:text="${col} ? ${col.dayOfMonth} : 'N/A'"></div>

							<div th:if="${col != null}">

								<div hidden="true" th:text="(${col.dayOfMonth} == 1) ? ${++calGrid.currentMonth}"></div>

								<div th:each="fc : ${startDates}"
									th:if="${#dates.day(#conversions.convert(fc.getStartDate(), 'java.sql.Date'))} eq ${col.dayOfMonth} 
									and ${#dates.month(#conversions.convert(fc.getStartDate(), 'java.sql.Date'))} 
									eq ${calGrid.month.plusMonths(calGrid.currentMonth).getMonthValue()}"
									style="max-height: 16px; margin-bottom: 5px; margin-left: -2px;">
									<a th:if="${fc.getAgencyId()} eq 1" class="sshrc startDate linkSD"
										th:title="${#locale.language eq 'fr'} ? ${fc.getFundingOpportunityNameFr()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})} 
										: ${fc.getFundingOpportunityNameEn()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})}"
										th:text="${#locale.language eq 'fr' ? fc.getFundingOpportunityNameFr() : fc.getFundingOpportunityNameEn()}"
										th:href="@{viewFo(id=${fc.getFundingOpportunityId()})}"></a> <a th:if="${fc.getAgencyId()} eq 2" class="nserc startDate linkSD"
										th:title="${#locale.language eq 'fr'} ? ${fc.getFundingOpportunityNameFr()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})} 
										: ${fc.getFundingOpportunityNameEn()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})}"
										th:text="${#locale.language eq 'fr' ? fc.getFundingOpportunityNameFr() : fc.getFundingOpportunityNameEn()}"
										th:href="@{viewFo(id=${fc.getFundingOpportunityId()})}"></a> <a th:if="${fc.getAgencyId()} eq 3" class="cihr startDate linkSD"
										th:title="${#locale.language eq 'fr'} ? ${fc.getFundingOpportunityNameFr()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})} 
										: ${fc.getFundingOpportunityNameEn()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})}"
										th:text="${#locale.language eq 'fr' ? fc.getFundingOpportunityNameFr() : fc.getFundingOpportunityNameEn()}"
										th:href="@{viewFo(id=${fc.getFundingOpportunityId()})}"></a>
								</div>

								<div th:each="fc : ${endDates}"
									th:if="${fc.getEndDate().getDayOfMonth()} == ${col.dayOfMonth} and ${fc.getEndDate().getMonthValue()} == ${calGrid.month.plusMonths(calGrid.currentMonth).getMonthValue()}"
									style="max-height: 16px; margin-bottom: 5px; margin-left: -2px;">
									<a th:if="${fc.getAgencyId()} eq 1" class="sshrc endDate"
										th:title="${#locale.language eq 'fr'} ? ${fc.getFundingOpportunityNameFr()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})} 
										: ${fc.getFundingOpportunityNameEn()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})}"
										th:text="${#locale.language eq 'fr' ? fc.getFundingOpportunityNameFr() : fc.getFundingOpportunityNameEn()}"
										th:href="@{viewFo(id=${fc.getFundingOpportunityId()})}"></a> <a th:if="${fc.getAgencyId()} eq 2" class="nserc endDate"
										th:title="${#locale.language eq 'fr'} ? ${fc.getFundingOpportunityNameFr()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})} 
										: ${fc.getFundingOpportunityNameEn()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})}"
										th:text="${#locale.language eq 'fr' ? fc.getFundingOpportunityNameFr() : fc.getFundingOpportunityNameEn()}"
										th:href="@{viewFo(id=${fc.getFundingOpportunityId()})}"></a> <a th:if="${fc.getAgencyId()} eq 3" class="cihr endDate"
										th:title="${#locale.language eq 'fr'} ? ${fc.getFundingOpportunityNameFr()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})} 
										: ${fc.getFundingOpportunityNameEn()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})}"
										th:text="${#locale.language eq 'fr' ? fc.getFundingOpportunityNameFr() : fc.getFundingOpportunityNameEn()}"
										th:href="@{viewFo(id=${fc.getFundingOpportunityId()})}"></a>
								</div>
								
								<div th:each="fc : ${startNOIDates}"
									th:if="${fc.getStartDateNOI().getDayOfMonth()} eq ${col.dayOfMonth} and ${fc.getStartDateNOI().getMonthValue()} eq ${calGrid.month.plusMonths(calGrid.currentMonth).getMonthValue()}"
									style="max-height: 16px; margin-bottom: 5px; margin-left: -2px;">
									<a th:if="${fc.getAgencyId()} eq 1" class="sshrc startDateNOI"
										th:title="${#locale.language eq 'fr'} ? ${fc.getFundingOpportunityNameFr()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})} 
										: ${fc.getFundingOpportunityNameEn()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})}"
										th:text="${#locale.language eq 'fr' ? fc.getFundingOpportunityNameFr() : fc.getFundingOpportunityNameEn()}"
										th:href="@{viewFo(id=${fc.getFundingOpportunityId()})}"></a> <a th:if="${fc.getAgencyId()} eq 2" class="nserc startDateNOI"
										th:title="${#locale.language eq 'fr'} ? ${fc.getFundingOpportunityNameFr()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})} 
										: ${fc.getFundingOpportunityNameEn()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})}"
										th:text="${#locale.language eq 'fr' ? fc.getFundingOpportunityNameFr() : fc.getFundingOpportunityNameEn()}"
										th:href="@{viewFo(id=${fc.getFundingOpportunityId()})}"></a> <a th:if="${fc.getAgencyId()} eq 3" class="cihr startDateNOI"
										th:title="${#locale.language eq 'fr'} ? ${fc.getFundingOpportunityNameFr()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})} 
										: ${fc.getFundingOpportunityNameEn()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})}"
										th:text="${#locale.language eq 'fr' ? fc.getFundingOpportunityNameFr() : fc.getFundingOpportunityNameEn()}"
										th:href="@{viewFo(id=${fc.getFundingOpportunityId()})}"></a>
								</div>
								
								<div th:each="fc : ${endNOIDates}"
									th:if="${fc.getEndDateNOI().getDayOfMonth()} eq ${col.dayOfMonth} and ${fc.getEndDateNOI().getMonthValue()} eq ${calGrid.month.plusMonths(calGrid.currentMonth).getMonthValue()}"
									style="max-height: 16px; margin-bottom: 5px; margin-left: -2px;">
									<a th:if="${fc.getAgencyId()} eq 1" class="sshrc endDateNOI"
										th:title="${#locale.language eq 'fr'} ? ${fc.getFundingOpportunityNameFr()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})} 
										: ${fc.getFundingOpportunityNameEn()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})}"
										th:text="${#locale.language eq 'fr' ? fc.getFundingOpportunityNameFr() : fc.getFundingOpportunityNameEn()}"
										th:href="@{viewFo(id=${fc.getFundingOpportunityId()})}"></a> <a th:if="${fc.getAgencyId()} eq 2" class="nserc endDateNOI"
										th:title="${#locale.language eq 'fr'} ? ${fc.getFundingOpportunityNameFr()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})} 
										: ${fc.getFundingOpportunityNameEn()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})}"
										th:text="${#locale.language eq 'fr' ? fc.getFundingOpportunityNameFr() : fc.getFundingOpportunityNameEn()}"
										th:href="@{viewFo(id=${fc.getFundingOpportunityId()})}"></a> <a th:if="${fc.getAgencyId()} eq 3" class="cihr endDateNOI"
										th:title="${#locale.language eq 'fr'} ? ${fc.getFundingOpportunityNameFr()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})} 
										: ${fc.getFundingOpportunityNameEn()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})}"
										th:text="${#locale.language eq 'fr' ? fc.getFundingOpportunityNameFr() : fc.getFundingOpportunityNameEn()}"
										th:href="@{viewFo(id=${fc.getFundingOpportunityId()})}"></a>
								</div>
								
								<div th:each="fc : ${startLOIDates}"
									th:if="${fc.getStartDateLOI().getDayOfMonth()} eq ${col.dayOfMonth} and ${fc.getStartDateLOI().getMonthValue()} eq ${calGrid.month.plusMonths(calGrid.currentMonth).getMonthValue()}"
									style="max-height: 16px; margin-bottom: 5px; margin-left: -2px;">
									<a th:if="${fc.getAgencyId()} eq 1" class="sshrc startDateLOI"
										th:title="${#locale.language eq 'fr'} ? ${fc.getFundingOpportunityNameFr()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})} 
										: ${fc.getFundingOpportunityNameEn()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})}"
										th:text="${#locale.language eq 'fr' ? fc.getFundingOpportunityNameFr() : fc.getFundingOpportunityNameEn()}"
										th:href="@{viewFo(id=${fc.getFundingOpportunityId()})}"></a> <a th:if="${fc.getAgencyId()} eq 2" class="nserc startDateLOI"
										th:title="${#locale.language eq 'fr'} ? ${fc.getFundingOpportunityNameFr()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})} 
										: ${fc.getFundingOpportunityNameEn()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})}"
										th:text="${#locale.language eq 'fr' ? fc.getFundingOpportunityNameFr() : fc.getFundingOpportunityNameEn()}"
										th:href="@{viewFo(id=${fc.getFundingOpportunityId()})}"></a> <a th:if="${fc.getAgencyId()} eq 3" class="cihr startDateLOI"
										th:title="${#locale.language eq 'fr'} ? ${fc.getFundingOpportunityNameFr()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})} 
										: ${fc.getFundingOpportunityNameEn()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})}"
										th:text="${#locale.language eq 'fr' ? fc.getFundingOpportunityNameFr() : fc.getFundingOpportunityNameEn()}"
										th:href="@{viewFo(id=${fc.getFundingOpportunityId()})}"></a>
								</div>
								
								<div th:each="fc : ${endLOIDates}"
									th:if="${fc.getEndDateLOI().getDayOfMonth()} eq ${col.dayOfMonth} and ${fc.getEndDateLOI().getMonthValue()} eq ${calGrid.month.plusMonths(calGrid.currentMonth).getMonthValue()}"
									style="max-height: 16px; margin-bottom: 5px; margin-left: -2px;">
									<a th:if="${fc.getAgencyId()} eq 1" class="sshrc endDateLOI"
										th:title="${#locale.language eq 'fr'} ? ${fc.getFundingOpportunityNameFr()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})} 
										: ${fc.getFundingOpportunityNameEn()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})}"
										th:text="${#locale.language eq 'fr' ? fc.getFundingOpportunityNameFr() : fc.getFundingOpportunityNameEn()}"
										th:href="@{viewFo(id=${fc.getFundingOpportunityId()})}"></a> <a th:if="${fc.getAgencyId()} eq 2" class="nserc endDateLOI"
										th:title="${#locale.language eq 'fr'} ? ${fc.getFundingOpportunityNameFr()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})} 
										: ${fc.getFundingOpportunityNameEn()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})}"
										th:text="${#locale.language eq 'fr' ? fc.getFundingOpportunityNameFr() : fc.getFundingOpportunityNameEn()}"
										th:href="@{viewFo(id=${fc.getFundingOpportunityId()})}"></a> <a th:if="${fc.getAgencyId()} eq 3" class="cihr endDateLOI"
										th:title="${#locale.language eq 'fr'} ? ${fc.getFundingOpportunityNameFr()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})} 
										: ${fc.getFundingOpportunityNameEn()} + '&#0013;' + #{msg.appsExpected(${fc.getNumAppsExpected()})}"
										th:text="${#locale.language eq 'fr' ? fc.getFundingOpportunityNameFr() : fc.getFundingOpportunityNameEn()}"
										th:href="@{viewFo(id=${fc.getFundingOpportunityId()})}"></a>
								</div>

							</div>
						</div>
					</div>

					<div style="margin-top: 25px;" class="form-group">

						<h3 th:text="#{h.legend}" class="col-sm-offset-1"></h3>

						<div class="form-group row">
							<!-- <div class="col-sm-offset-1 col-sm-1" ></div> -->
							<div class="col-sm-offset-1 col-sm-1 cihr" th:text="#{msg.cihr}" style="margin-right: 50px; width: 115px;"></div>
							<div class="col-sm-1 startDate" th:text="#{msg.startDate}" style="font-size: 12px; margin-right: 50px; width: 115px;"></div>
							<div class="col-sm-1 endDate" th:text="#{msg.endDate}" style="font-size: 12px; width: 115px;"></div>
						</div>

						<div class="form-group row">
							<!-- <div class="col-sm-offset-1 col-sm-1" th:text="#{msg.nserc}"></div> -->
							<div class="col-sm-offset-1 col-sm-1 nserc" th:text="#{msg.nserc}" style="margin-right: 50px; width: 115px;"></div>
							<div class="col-sm-1 startDateLOI" th:text="#{msg.startDateLOI}" style="font-size: 12px; width: 115px;  margin-right: 50px;"></div>
							<div class="col-sm-1 endDateLOI" th:text="#{msg.endDateLOI}" style="font-size: 12px; width: 115px;"></div>
						</div>

						<div class="form-group row">
							<!-- <div class="col-sm-offset-1 col-sm-1" th:text="#{msg.SSHRC}"></div> -->
							<div class="col-sm-offset-1 col-sm-1 sshrc" th:text="#{msg.SSHRC}" style="margin-right: 50px; width: 115px;"></div>
							<div class="col-sm-1 startDateNOI" th:text="#{msg.startDateNOI}" style="font-size: 12px; width: 115px; margin-right: 50px;"></div>
							<div class="col-sm-1 endDateNOI" th:text="#{msg.endDateNOI}" style="font-size: 12px; width: 115px;"></div>
						</div>

					</div>

				</div>

			</div>

			<div th:insert="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:insert="fragments/general :: footer(~{})"></footer>

</body>
</html>