<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{},~{})}">
<title th:text="#{title.viewBUPage}"></title>
</head>
<body id="viewBUPage">
	<div th:insert="~{fragments/general.html :: header_nav('entities')}"></div>
	<div class="container" style="margin-bottom: 25px">
		<h1 th:text="#{h.businessUnit}" style="margin-bottom: 25px"></h1>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:text="#{form.nameEn}"></div>
			<div class="col-sm-10" th:text="${bu.nameEn}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:text="#{form.nameFr}"></div>
			<div class="col-sm-10" th:text="${bu.nameFr}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:text="#{form.acronymEn}"></div>
			<div class="col-sm-10" th:text="${bu.acronymEn}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:text="#{form.acronymFr}"></div>
			<div class="col-sm-10" th:text="${bu.acronymFr}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:text="#{form.agency}"></div>
			<div class="col-sm-10">
				<a th:href="@{/browse/viewAgency(id=${bu.agency.id})}" th:text="${bu.agency.getName()}"></a>
			</div>
		</div>
		<div sec:authorize="hasRole('MDM ADMIN')">
			<div style="margin-top: 35px">
				<a th:href="@{/admin/editBU(id=${bu.id})}" id="editBULink" class="btn btn-primary" th:text="#{link.editBU}"></a>
			</div>
			<div class="form-group row">
				<h2 th:text="#{h.auditLog}"></h2>
			</div>
			<div class="col-md-12">
				<table id="auditLogTable" class="table table-bordered">
					<thead>
						<tr>
							<th th:text="#{th.user}" />
							<th th:text="#{th.type}" />
							<th th:text="#{form.nameEn}" />
							<th th:text="#{form.nameFr}" />
							<th th:text="#{form.acronymEn}" />
							<th th:text="#{form.acronymFr}" />
							<th th:text="#{th.date}" />
						</tr>
					</thead>
					<tbody th:if="${!revisionList.isEmpty()}">
						<tr th:each="revision : ${revisionList}">
							<td th:text="${revision[0]}"/>
							<td th:text="${revision[1]}"/>
							<td th:text="${revision[2]}"/>
							<td th:text="${revision[3]}"/>
							<td th:text="${revision[4]}"/>
							<td th:text="${revision[5]}"/>
							<td th:text="${revision[6]}"/>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="form-group row">
			<h2 th:text="#{h.memberRoles}"></h2>
		</div>
		<div class="col-sm-10">
			<table id="memberRolesTable" class="table table-bordered">
				<thead>
					<tr>
						<!-- <th th:text="#{th.name}" /> -->
						<th th:text="#{th.userLogin}" />
						<th th:text="#{form.role}" />
						<th th:text="#{form.ediAuthorized}" />
						<th sec:authorize="hasRole('MDM ADMIN')" th:text="#{form.delete}" />
					</tr>
				</thead>
				<tbody th:if="${!mrList.isEmpty()}">
					<tr th:each="mr : ${mrList}">
						<!-- <td th:text="${mr.fullName}" /> -->
						<td th:text="${mr.userLogin}" />
						<td th:text="${mr.role.getLocalizedAttribute('name')}" />
						<td th:text="${mr.ediAuthorized} == true ? #{msg.yes} : #{msg.no}" />
						<td sec:authorize="hasRole('MDM ADMIN')"><a th:text="#{form.delete}" class="btn btn-primary" th:id="deleteMemberRole"
							th:href="@{/browse/viewBU(mrId=${mr.id})}"></a></td>
					</tr>
				</tbody>
			</table>
			<div th:if="${actionMsg != null}" class="form-group row">
				<h4 th:text="${actionMsg}"></h4>
			</div>
			<div class="form-group row" sec:authorize="hasRole('MDM ADMIN')">
				<a class="btn btn-primary" th:href="@{/admin/createMR(buId=${bu.id})}" th:text="#{link.createMR}" id="createMemberRoleLink"></a>
			</div>
		</div>
	</div>

</body>
</html>
