<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="~{fragments/general.html :: common_header(~{::title},~{})}">
<meta charset="utf-8">
<title th:text="#{h.fcCal}"></title>
</head>
<style type="text/css">
.cal-weekday-header {
	text-align: center;
	border: 1px solid #d8d8d8;
	width: 150px; border-spacing 0px 0px;
	padding: 2px;
	box-sizing: content-box;
}

.cal-day-cell {
	border: 1px solid #d8d8d8;
	line-height: 2em; border-spacing 0px 0px;
	padding: 2px;
	min-height: 100px;
	box-sizing: content-box;
	width: 150px;
}

.NOI-start {
	border: 1px solid #d8d8d8;
	white-space: nowrap;
	font-size: 12.2333px;
	overflow: hidden;
	font-color: rgb(0, 0, 0);
	background: linear-gradient(-90deg, green 10%, #B3E5FC 10%);
}

.NOI-end {
	border: 1px solid #d8d8d8;
	white-space: nowrap;
	font-size: 12.2333px;
	overflow: hidden;
	font-color: rgb(0, 0, 0);
	background: linear-gradient(-90deg, red 10%, #B3E5FC 10%);
}

.LOI-start {
	border: 1px solid #d8d8d8;
	white-space: nowrap;
	font-size: 12.2333px;
	overflow: hidden;
	font-color: rgb(0, 0, 0);
	background: linear-gradient(-90deg, green 10%, #EFEBE9 10%);
}

.LOI-end {
	border: 1px solid #d8d8d8;
	white-space: nowrap;
	font-size: 12.2333px;
	overflow: hidden;
	font-color: rgb(0, 0, 0);
	background: linear-gradient(-90deg, red 10%, #EFEBE9 10%);
}

.sshrc {
	border: 1px solid dimgrey;
	background: lightyellow;
	font-size: 12px;
	white-space: nowrap;
	margin-bottom: 0px;
}

.nserc {
	border: 1px solid dimgrey;
	background: lightblue;
	font-size: 12px;
	white-space: nowrap;
	margin-bottom: 0px;
}

.cihr {
	border: 1px solid dimgrey;
	background: lightgreen;
	white-space: nowrap;
	font-size: 12px;
}

.startDate {
	color: red;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

.endDate {
	color: black;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

.startDateLOI {
	color: darkgreen;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

.endDateLOI {
	color: purple;
	font-weight: bold;
}

.startDateNOI {
	color: saddlebrown;
	font-weight: bold;
}

.endDateNOI {
	color: blue;
	font-weight: bold;
}
</style>
<body id="viewFundingCycleCalendarPage">
	<div th:insert="~{fragments/general.html :: header_nav('home')}"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:text="#{h.fcCal}"></h1>

		<div th:insert="~{fragments/general.html :: profile_info('home')}"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<p th:text="#{p.browse.viewCal.upcoming}"></p>

				<div class="col-md-12">

					<div class="form-group row">
						<div class="col-md-offset-4 col-md-1" style="text-align: center;">
							<a th:href="@{viewCalendar(plusMinusMonth=${minusMonth})}"> << </a>
						</div>
						<div class="col-md-2" style="text-align: center;">
							<span th:utext="#{${'cal.' + calGrid.month.monthValue}}"></span> <span th:text="${calGrid.month.year}"></span>
						</div>
						<div class="col-md-1" style="text-align: center;">
							<a th:href="@{viewCalendar(plusMinusMonth=${plusMonth})}">>></a>
						</div>
					</div>

					<div class="row">
						<div class="col-md-1 cal-weekday-header" th:text="#{day.su}"></div>
						<div class="col-md-1 cal-weekday-header" th:text="#{day.m}"></div>
						<div class="col-md-1 cal-weekday-header" th:text="#{day.tu}"></div>
						<div class="col-md-1 cal-weekday-header" th:text="#{day.w}"></div>
						<div class="col-md-1 cal-weekday-header" th:text="#{day.th}"></div>
						<div class="col-md-1 cal-weekday-header" th:text="#{day.f}"></div>
						<div class="col-md-1 cal-weekday-header" th:text="#{day.sa}"></div>
					</div>


					<div th:each="row : ${calGrid.dataGrid}" class="row">
						<div class="col-md-1 cal-day-cell" th:each="col : ${row}" style="overflow: hidden;">
							<div style="text-align: right;" th:text="${col} ? ${col.dayOfMonth} : 'N/A'"></div>
							<div th:if="${col != null}">

								<div hidden="true" th:text="(${col.dayOfMonth} == 1) ? ${++calGrid.currentMonth}"></div>

								<div th:each="fc : ${startDates}"
									th:if="${fc.startDate.getDayOfMonth()} == ${col.dayOfMonth} and ${fc.startDate.getMonthValue()} == ${calGrid.month.plusMonths(calGrid.currentMonth).getMonthValue()}"
									style="max-height: 16px;">
									<a th:if="${fc.fundingOpportunity.businessUnit.agency.id} == 1" class="sshrc startDate"
										th:title="${fc.fundingOpportunity.getLocalizedAttribute('name')}" th:text="${fc.fundingOpportunity.getLocalizedAttribute('name')}"
										th:href="@{viewFo(id=${fc.fundingOpportunity.id})}"></a> <a th:if="${fc.fundingOpportunity.businessUnit.agency.id} == 2"
										class="nserc startDate" th:title="${fc.fundingOpportunity.getLocalizedAttribute('name')}"
										th:text="${fc.fundingOpportunity.getLocalizedAttribute('name')}" th:href="@{viewFo(id=${fc.fundingOpportunity.id})}"></a> <a
										th:if="${fc.fundingOpportunity.businessUnit.agency.id} == 3" class="cihr startDate"
										th:title="${fc.fundingOpportunity.getLocalizedAttribute('name')}" th:text="${fc.fundingOpportunity.getLocalizedAttribute('name')}"
										th:href="@{viewFo(id=${fc.fundingOpportunity.id})}"></a>
								</div>

								<div th:each="fc : ${endDates}"
									th:if="${fc.endDate.getDayOfMonth()} == ${col.dayOfMonth} and ${fc.endDate.getMonthValue()} == ${calGrid.month.plusMonths(calGrid.currentMonth).getMonthValue()}"
									style="max-height: 16px;">
									<a th:if="${fc.fundingOpportunity.businessUnit.agency.id} == 1" class="sshrc endDate"
										th:title="${fc.fundingOpportunity.getLocalizedAttribute('name')}" th:text="${fc.fundingOpportunity.getLocalizedAttribute('name')}"
										th:href="@{viewFo(id=${fc.fundingOpportunity.id})}"></a> <a th:if="${fc.fundingOpportunity.businessUnit.agency.id} == 2"
										class="nserc endDate" th:title="${fc.fundingOpportunity.getLocalizedAttribute('name')}"
										th:text="${fc.fundingOpportunity.getLocalizedAttribute('name')}" th:href="@{viewFo(id=${fc.fundingOpportunity.id})}"></a> <a
										th:if="${fc.fundingOpportunity.businessUnit.agency.id} == 3" class="cihr endDate"
										th:title="${fc.fundingOpportunity.getLocalizedAttribute('name')}" th:text="${fc.fundingOpportunity.getLocalizedAttribute('name')}"
										th:href="@{viewFo(id=${fc.fundingOpportunity.id})}"></a>
								</div>

								<div th:each="fc : ${startLOIDates}"
									th:if="${fc.startDateLOI.getDayOfMonth()} == ${col.dayOfMonth} and ${fc.startDateLOI.getMonthValue()} == ${calGrid.month.plusMonths(calGrid.currentMonth).getMonthValue()}"
									style="max-height: 16px;">
									<a th:if="${fc.fundingOpportunity.businessUnit.agency.id} == 1" class="sshrc startDateLOI"
										th:title="${fc.fundingOpportunity.getLocalizedAttribute('name')}" th:text="${fc.fundingOpportunity.getLocalizedAttribute('name')}"
										th:href="@{viewFo(id=${fc.fundingOpportunity.id})}"></a> <a th:if="${fc.fundingOpportunity.businessUnit.agency.id} == 2"
										class="nserc startDateLOI" th:title="${fc.fundingOpportunity.getLocalizedAttribute('name')}"
										th:text="${fc.fundingOpportunity.getLocalizedAttribute('name')}" th:href="@{viewFo(id=${fc.fundingOpportunity.id})}"></a> <a
										th:if="${fc.fundingOpportunity.businessUnit.agency.id} == 3" class="cihr startDateLOI"
										th:title="${fc.fundingOpportunity.getLocalizedAttribute('name')}" th:text="${fc.fundingOpportunity.getLocalizedAttribute('name')}"
										th:href="@{viewFo(id=${fc.fundingOpportunity.id})}"></a>
								</div>

								<div th:each="fc : ${endLOIDates}"
									th:if="${fc.endDateLOI.getDayOfMonth()} == ${col.dayOfMonth} and ${fc.endDateLOI.getMonthValue()} == ${calGrid.month.plusMonths(calGrid.currentMonth).getMonthValue()}"
									style="max-height: 16px;">
									<a th:if="${fc.fundingOpportunity.businessUnit.agency.id} == 1" class="sshrc endDateLOI"
										th:title="${fc.fundingOpportunity.getLocalizedAttribute('name')}" th:text="${fc.fundingOpportunity.getLocalizedAttribute('name')}"
										th:href="@{viewFo(id=${fc.fundingOpportunity.id})}"></a> <a th:if="${fc.fundingOpportunity.businessUnit.agency.id} == 2"
										class="nserc endDateLOI" th:title="${fc.fundingOpportunity.getLocalizedAttribute('name')}"
										th:text="${fc.fundingOpportunity.getLocalizedAttribute('name')}" th:href="@{viewFo(id=${fc.fundingOpportunity.id})}"></a> <a
										th:if="${fc.fundingOpportunity.businessUnit.agency.id} == 3" class="cihr endDateLOI"
										th:title="${fc.fundingOpportunity.getLocalizedAttribute('name')}" th:text="${fc.fundingOpportunity.getLocalizedAttribute('name')}"
										th:href="@{viewFo(id=${fc.fundingOpportunity.id})}"></a>
								</div>

								<div th:each="fc : ${startNOIDates}"
									th:if="${fc.startDateNOI.getDayOfMonth()} == ${col.dayOfMonth} and ${fc.startDateNOI.getMonthValue()} == ${calGrid.month.plusMonths(calGrid.currentMonth).getMonthValue()}"
									style="max-height: 16px;">
									<a th:if="${fc.fundingOpportunity.businessUnit.agency.id} == 1" class="sshrc startDateNOI"
										th:title="${fc.fundingOpportunity.getLocalizedAttribute('name')}" th:text="${fc.fundingOpportunity.getLocalizedAttribute('name')}"
										th:href="@{viewFo(id=${fc.fundingOpportunity.id})}"></a> <a th:if="${fc.fundingOpportunity.businessUnit.agency.id} == 2"
										class="nserc startDateNOI" th:title="${fc.fundingOpportunity.getLocalizedAttribute('name')}"
										th:text="${fc.fundingOpportunity.getLocalizedAttribute('name')}" th:href="@{viewFo(id=${fc.fundingOpportunity.id})}"></a> <a
										th:if="${fc.fundingOpportunity.businessUnit.agency.id} == 3" class="cihr startDateNOI"
										th:title="${fc.fundingOpportunity.getLocalizedAttribute('name')}" th:text="${fc.fundingOpportunity.getLocalizedAttribute('name')}"
										th:href="@{viewFo(id=${fc.fundingOpportunity.id})}"></a>
								</div>

								<div th:each="fc : ${endNOIDates}"
									th:if="${fc.endDateNOI.getDayOfMonth()} == ${col.dayOfMonth} and ${fc.endDateNOI.getMonthValue()} == ${calGrid.month.plusMonths(calGrid.currentMonth).getMonthValue()}"
									style="max-height: 16px;">
									<a th:if="${fc.fundingOpportunity.businessUnit.agency.id} == 1" class="sshrc endDateNOI"
										th:title="${fc.fundingOpportunity.getLocalizedAttribute('name')}" th:text="${fc.fundingOpportunity.getLocalizedAttribute('name')}"
										th:href="@{viewFo(id=${fc.fundingOpportunity.id})}"></a> <a th:if="${fc.fundingOpportunity.businessUnit.agency.id} == 2"
										class="nserc endDateNOI" th:title="${fc.fundingOpportunity.getLocalizedAttribute('name')}"
										th:text="${fc.fundingOpportunity.getLocalizedAttribute('name')}" th:href="@{viewFo(id=${fc.fundingOpportunity.id})}"></a> <a
										th:if="${fc.fundingOpportunity.businessUnit.agency.id} == 3" class="cihr endDateNOI"
										th:title="${fc.fundingOpportunity.getLocalizedAttribute('name')}" th:text="${fc.fundingOpportunity.getLocalizedAttribute('name')}"
										th:href="@{viewFo(id=${fc.fundingOpportunity.id})}"></a>
								</div>

							</div>
						</div>
					</div>

					<div style="margin-top: 25px;" class="form-group">

						<h3 th:text="#{h.legend}" class="col-sm-offset-1"></h3>

						<div class="form-group row">
							<div class="col-sm-offset-1 col-sm-1" th:text="#{msg.cihr}"></div>
							<div class="col-sm-1 cihr">&nbsp;</div>
							<div class="col-sm-2 startDate" th:text="#{msg.startDate}" style="width: 150px;"></div>
							<div class="col-sm-2 endDate" th:text="#{msg.endDate}"></div>
						</div>

						<div class="form-group row">
							<div class="col-sm-offset-1 col-sm-1" th:text="#{msg.nserc}"></div>
							<div class="col-sm-1 nserc">&nbsp;</div>
							<div class="col-sm-2 startDateLOI" th:text="#{msg.startDateLOI}" style="width: 150px; padding-right: 0px;"></div>
							<div class="col-sm-2 endDateLOI" th:text="#{msg.endDateLOI}"></div>
						</div>

						<div class="form-group row">
							<div class="col-sm-offset-1 col-sm-1" th:text="#{msg.SSHRC}"></div>
							<div class="col-sm-1 sshrc">&nbsp;</div>
							<div class="col-sm-2 startDateNOI" th:text="#{msg.startDateNOI}" style="width: 150px; padding-right: 0px;"></div>
							<div class="col-sm-2 endDateNOI" th:text="#{msg.endDateNOI}"></div>
						</div>

					</div>

				</div>

			</div>

			<div th:insert="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:insert="fragments/general :: footer(~{})"></footer>

</body>
</html>