<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{::link},~{::script})}">
	<meta charset="ISO-8859-1">
	<title th:text="#{title.viewFYsPage}"></title>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		$(document).ready( function () {
			var table = $('#fiscalYear').DataTable({});
		});
	</script>
</head>
<body id="viewFiscalYearsPage">
	<div th:insert="~{fragments/general.html :: header_nav('home')}"></div>
	<div class="container" style="margin-bottom: 50px">
	
		<h1 th:text="#{h.fys}" style="margin-bottom: 25px"></h1>

		<table id="fiscalYear" class="display">

			<thead>
				<tr class="form-group row">
					<th th:text="#{title.fy}"></th>
					<th th:text="#{th.fcsList}"></th>

				</tr>
			</thead>

			<tbody>
				<tr th:each="fo : ${fiscalYears}" class="form-group row">
					<td><span th:text="${fo.year}"></span></td>
					<td><a class="btn btn-primary" th:href="@{viewFcFromFy(id=${fo.id})}" role="button" th:text="#{msg.view}"></a></td>
					<!-- add expected applications -->
				</tr>
			</tbody>
		</table>

		<div sec:authorize="hasRole('MDM ADMIN')" class="form-group row" style="margin: 25px 0px 50px 0px;">
			<a id="createFiscalYearLink" th:href="@{/manage/createFY}" th:text="#{link.createFy}" class="btn-primary btn"></a>
		</div>
	</div>
</body>
</html>