<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="~{fragments/general.html :: common_header(~{::title},~{})}">
<meta charset="utf-8">
<title th:text="#{h.viewFo}"></title>
</head>
<body class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:insert="~{fragments/general.html :: header_nav('home')}"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:utext="#{h.viewFo}"></h1>

		<div th:insert="~{fragments/general.html :: profile_info('home')}"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<p th:if="${actionMsg != null}" th:utext="${actionMsg}" style="font-weight: bold;"></p>

				<div class="form-group row" id="nameRow">
					<label class="col-sm-2 col-form-label" th:utext="#{form.name}"></label>
					<div class="col-sm-10" th:text="${fo.getLocalizedAttribute('name')}"></div>
				</div>

				<div class="form-group row" id="leadAgencyRow">
					<label class="col-sm-2 col-form-label" th:utext="#{form.leadAgency}"></label>
					<div class="col-sm-10">
						<a th:if="${fo.leadAgency != null}" th:href="@{/browse/viewAgency(id=${fo.leadAgency.id})}" th:text="${fo.leadAgency.acronym}"></a>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label" th:utext="#{form.businessUnit}"></label>
					<div class="col-sm-10">
						<a th:if="${fo.businessUnit != null}" th:href="@{/browse/viewBU(id=${fo.businessUnit.id})}"
							th:text="${fo.businessUnit.getLocalizedAttribute('acronym')}"></a>
					</div>
				</div>

				<div class="form-group row" id="fundingTypeRow">
					<label class="col-sm-2 col-form-label" th:utext="#{form.fundingType}"></label>
					<div class="col-sm-10" th:text="${fo.fundingType}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label" th:text="#{form.numAgencies}"></label>
					<div class="col-sm-10" th:text="${#lists.size(fo.participatingAgencies)}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label" th:utext="#{form.frequency}"></label>
					<div class="col-sm-10" th:text="${fo.frequency}"></div>
				</div>
				<div class="form-group row" id="programLeadRow">
					<label class="col-sm-2 col-form-label" th:utext="#{form.programLeadName}"></label>
					<div class="col-sm-10" th:text="${fo.programLeadName}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label" th:utext="#{form.participatingAgencies}"></label>
					<div class="col-sm-10">
						<span th:if="${fo.participatingAgencies.size() eq 0}" th:text="#{msg.none}"></span>
						<ul th:each="agency : ${fo.participatingAgencies}">
							<li class="col-sm-10" th:text="${agency.getLocalizedAttribute('acronym')}"></li>
						</ul>
					</div>
				</div>

				<div class="form-group">
					<a class="btn btn-primary" th:href="@{/manage/manageFo(id=${fo.id})}" role="button" th:text="#{link.manageFo}"></a>
				</div>
				
				<div class="form-group">
					<div>
						<h3 th:text="#{h.grantingCapabilities}" style="margin: 25px 0px;"></h3>
					</div>
				</div>

				<table id="grantingCapabilitiesTable" class="wb-tables table table-striped table-hover dataTable" aria-live="polite">
					<thead>
						<tr>
							<th th:text="#{th.grantingStage}"></th>
							<th th:text="#{th.gs}"></th>
							<th th:text="#{th.description}"></th>
							<th th:text="#{th.url}"></th>
						</tr>
					</thead>
					<tbody th:if="${grantingCapabilities!=null}">
						<tr th:each="gc : ${grantingCapabilities}">
							<td th:text="${gc.grantingStage.getLocalizedAttribute('name')}"></td>
							<td th:text="${gc.grantingSystem.getLocalizedAttribute('name')}"></td>
							<td th:text="${gc.description}"></td>
							<td th:text="${gc.url}"></td>
						</tr>

					</tbody>
				</table>

				<div th:if="${actionMsg != null}" class="form-group row">
					<h4 th:text="#{h.createdGc}"></h4>
				</div>

				<div class="form-group">
					<div>
						<h3 th:text="#{h.linkedSfcs}" style="margin: 25px 0px;"></h3>
					</div>
				</div>

				<table id="fundingCycles" class="wb-tables table table-striped table-hover dataTable" aria-live="polite">
					<thead>
						<tr>
							<th th:text="#{th.grantingSystem}"></th>
							<th th:text="#{th.systemFo}"></th>
							<th th:text="#{th.yr}"></th>
							<!-- 						<th th:text="#{th.startDateSystemPlanned}"></th> -->
							<!-- 						<th th:text="#{th.endDateSystemPlanned}"></th> -->
							<th th:text="#{th.numApps}"></th>
						</tr>
					</thead>
					<tbody th:if="${#lists.isEmpty(linkedSystemFundingCycles)}">
						<tr>
							<td colspan="4" th:text="#{msg.notLinked}"></td>
						</tr>
					</tbody>
					<tbody th:unless="${#lists.isEmpty(linkedSystemFundingCycles)}">
						<tr th:each="row : ${linkedSystemFundingCycles}">
							<td th:text="${row.systemFundingOpportunity.grantingSystem.acronym}"></td>
							<td th:text="${row.systemFundingOpportunity.getLocalizedAttribute('name')}"></td>
							<td th:text="${row.fiscalYear}"></td>
							<td th:text="${#numbers.formatInteger(row.numAppsReceived, 1, 'COMMA')}"></td>
						</tr>
					</tbody>
				</table>

			</div>

			<div th:insert="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:insert="fragments/general :: footer(~{})"></footer>

</body>
</html>
