<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="fragments/general.html :: common_header(~{::title},~{})">
<meta charset="utf-8">
<title th:text="#{h.viewAppParticipationEdi}"></title>
</head>
<body id="viewAppParticipationEdiPage" class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:replace="fragments/general.html :: header_nav('home')"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:utext="#{h.viewAppParticipationEdi}"></h1>

		<div th:replace="fragments/general.html :: profile_info('home')"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="form-group row">
					<label class="col-sm-4 col-form-label" th:utext="#{form.applicationIdentifier}"></label>
					<div class="col-sm-8" th:text="${appParticipation.getApplicationIdentifier()}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label" th:utext="#{form.applId}"></label>
					<div class="col-sm-8" th:text="${appParticipation.getApplId()}"></div>
				</div>


				<div class="form-group row">
					<label class="col-sm-4 col-form-label" th:utext="#{form.dateOfBirth}"></label>
					<div class="col-sm-8" th:text="${#dates.format(#conversions.convert(appParticipation.getDateOfBirth(), 'java.sql.Date'), 'MMMM d, yyyy')}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label" th:utext="#{form.genderSelection}"></label>
					<div class="col-sm-8" th:text="${#locale.language eq 'fr' ? appParticipation.getGenderFr() : appParticipation.getGenderEn()}"></div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" th:utext="#{form.disabilityResponse}"></label>
					<div class="col-sm-8" th:text="${appParticipation.getDisability()} ne null ? ${appParticipation.getDisability()} : #{msg.none}"></div>
				</div>

				<div class="form-group row" th:each="ind, stats : ${indIdentities}">
					<label class="col-sm-4 col-form-label" th:text="#{form.indIdentityResponse} + (${stats.size gt 1} ? ' ' + ${stats.index + 1} : '')"></label>
					<div class="col-sm-8" th:text="${#locale.language eq 'fr' ? ind.getIndIdentityFr() : ind.getIndIdentityEn()}"></div>
				</div>
				
				<div th:if="${indIdentities.isEmpty()}" class="form-group row">
					<label class="col-sm-4 col-form-label" th:text="#{form.indIdentityResponse}"></label>
					<div class="col-sm-8" th:text="#{msg.none}"></div>
				</div>
				
				<div class="form-group row" th:each="vm, stats : ${vMinorities}">
					<label class="col-sm-4 col-form-label" th:text="#{form.visibleMinorityResponse} + (${stats.size gt 1} ? ' ' + ${stats.index + 1} : '')"></label>
					<div class="col-sm-8" th:text="${#locale.language eq 'fr' ? vm.getVisMinorityFr() : vm.getVisMinorityEn()}"></div>
				</div>
				
				<div th:if="${vMinorities.isEmpty()}" class="form-group row">
					<label class="col-sm-4 col-form-label" th:text="#{form.visibleMinorityResponse}"></label>
					<div class="col-sm-8" th:text="#{msg.none}"></div>
				</div>

				<!-- <div class="form-group row"
					th:if="${appParticipation.indIdentityPrefNotTo} eq false and ${appParticipation.indigenousIdentities.isEmpty()}">
					<label class="col-sm-4 col-form-label" th:text="#{form.indIdentityResponse}"></label>
					<div class="col-sm-8" th:text="#{msg.none}"></div>
				</div>

				<div class="form-group row"
					th:if="${appParticipation.visibleMinPrefNotTo} eq false and not ${appParticipation.visibleMinorities.isEmpty()}"
					th:each="minority, stats : ${appParticipation.visibleMinorities}">
					<label class="col-sm-4 col-form-label" th:text="#{form.visibleMinorityResponse} + ' ' + ${stats.index + 1}"></label>
					<div class="col-sm-8" th:text="${minority.getLocalizedAttribute('name')}"></div>
				</div>

				<div class="form-group row" th:if="${appParticipation.visibleMinPrefNotTo} eq false and ${appParticipation.visibleMinorities.isEmpty()}">
					<label class="col-sm-4 col-form-label" th:text="#{form.visibleMinorityResponse}"></label>
					<div class="col-sm-8" th:text="#{msg.none}"></div>
				</div> -->

			</div>

			<div th:replace="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:replace="fragments/general :: footer(~{})"></footer>

</body>
</html>
