<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="~{fragments/general.html :: common_header(~{::title},~{})}">
<meta charset="utf-8">
<title th:text="#{h.businessUnit}"></title>
</head>
<body id="viewBUPage" class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:replace="~{fragments/general.html :: header_nav('home')}"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:text="#{h.businessUnit}"></h1>

		<div th:replace="~{fragments/general.html :: profile_info('home')}"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="form-group" th:if="${actionMsg != null}">
					<h4 th:utext="${actionMsg}" style="margin-bottom: 40px;"></h4>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label" th:text="#{form.nameEn}"></label>
					<div class="col-sm-10" th:text="${buProjections.get(0).getNameEn()}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label" th:text="#{form.nameFr}"></label>
					<div class="col-sm-10" th:text="${buProjections.get(0).getNameFr()}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label" th:text="#{form.acronymEn}"></label>
					<div class="col-sm-10" th:text="${buProjections.get(0).getAcronymEn()}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label" th:text="#{form.acronymFr}"></label>
					<div class="col-sm-10" th:text="${buProjections.get(0).getAcronymFr()}"></div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label" th:text="#{form.agency}"></label>
					<div class="col-sm-10">
						<a th:href="@{/browse/viewAgency(id=${buProjections.get(0).getAgencyId()})}"
							th:text="${#locale.language eq 'fr' ? buProjections.get(0).getAgencyFr() : buProjections.get(0).getAgencyEn()}"></a>
					</div>
				</div>

				<div sec:authorize="isAuthenticated()" class="form-group">
					<a sec:authorize="hasRole('MDM ADMIN')" th:href="@{/admin/editBU(id=${param.id})}" id="editBULink" class="btn btn-primary"
						th:text="#{link.editBU}" style="margin-right: 25px;"></a> <a
						th:if="${@memberRoleServiceImpl.checkIfCurrentUserEdiAuthorized(param.id)} eq true" th:href="@{/manage/viewBuEdiData(buId=${param.id})}"
						id="viewEdiLink" class="btn btn-primary" th:text="#{link.buEdiData}"></a>
				</div>

				<div sec:authorize="hasRole('MDM ADMIN')" class="form-group">
					<h3 th:text="#{h.auditLog}"></h3>
				</div>

				<table sec:authorize="hasRole('MDM ADMIN')" id="auditLogTable" class="wb-tables table table-striped table-hover dataTable" aria-live="polite">
					<thead>
						<tr>
							<th th:text="#{th.user}" />
							<th th:text="#{th.type}" />
							<th th:text="#{form.nameEn}" />
							<th th:text="#{form.nameFr}" />
							<th th:text="#{form.acronymEn}" />
							<th th:text="#{form.acronymFr}" />
							<th th:text="#{th.date}" />
						</tr>
					</thead>
					<tbody>
						<tr th:each="revision : ${revisionList}">
							<td th:text="${revision[1]}" />
							<td th:text="${revision[2]}" />
							<td th:text="${revision[3]}" />
							<td th:text="${revision[4]}" />
							<td th:text="${revision[5]}" />
							<td th:text="${revision[6]}" />
							<td th:text="${revision[7]}" />
						</tr>
					</tbody>
				</table>

				<div class="form-group">
					<h3 th:text="#{h.memberRoles}"></h3>
				</div>

				<table id="memberRolesTable" class="wb-tables table table-striped table-hover dataTable" aria-live="polite">
					<thead>
						<tr>
							<!-- <th th:text="#{th.name}" /> -->
							<th th:text="#{th.userLogin}" />
							<th th:text="#{form.role}" />
							<th th:text="#{form.ediAuthorized}" />
							<th sec:authorize="hasRole('MDM ADMIN')" th:text="#{th.auditLog}"></th>
							<th sec:authorize="hasRole('MDM ADMIN')" th:text="#{form.delete}" />
						</tr>
					</thead>
					<tbody th:if="${buProjections.get(0).getMemRoleId() ne null}">
						<tr th:each="bu : ${buProjections}">
							<!-- <td th:text="${mr.fullName}" /> -->
							<td th:text="${bu.getMemRoleLogin()}" />
							<td th:text="${#locale.language eq 'fr' ? bu.getMemRoleFr() : bu.getMemRoleEn()}" />
							<td th:text="${bu.getMemRoleEdiAuthorized()} ? #{msg.yes} : #{msg.no}" />
							<td sec:authorize="hasRole('MDM ADMIN')"><a th:text="#{msg.view}" class="btn btn-primary"
								th:href="@{/admin/auditLogMR(id=${bu.getMemRoleId()})}"></a></td>
							<td sec:authorize="hasRole('MDM ADMIN')"><a th:text="#{form.delete}" class="btn btn-primary" th:id="deleteMemberRole"
								th:href="@{/browse/viewBU(mrId=${bu.getMemRoleId()})}"></a></td>
						</tr>
					</tbody>
				</table>

				<div class="form-group" sec:authorize="hasRole('MDM ADMIN')">
					<a class="btn btn-primary" th:href="@{/admin/createMR(buId=${param.id})}" th:text="#{link.createMR}" id="createMemberRoleLink"></a>
				</div>

			</div>

			<div th:replace="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:replace="fragments/general :: footer(~{})"></footer>

</body>
</html>
