<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="~{fragments/general.html :: common_header(~{::title},~{})}">
<meta charset="utf-8">
<title th:text="#{h.fys}"></title>
</head>
<body id="viewFiscalYearsPage" class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:insert="~{fragments/general.html :: header_nav('home')}"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:text="#{h.fys}" style="margin-bottom: 25px"></h1>

		<div th:insert="~{fragments/general.html :: profile_info('home')}"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<table id="fiscalYearTable" class="wb-tables table table-striped table-hover dataTable" aria-live="polite">
					<thead>
						<tr class="form-group row">
							<th th:text="#{title.fy}"></th>
							<th th:text="#{form.numAppsExpected}"></th>
							<th th:text="#{th.fcsList}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="fy : ${fiscalYearStats}" class="form-group row">
							<td th:text="${fy[1]}"></td>
							<td th:text="${#numbers.formatInteger(fy[2], 1, 'COMMA')}"></td>
							<td><a class="btn btn-primary" th:href="@{viewFcFromFy(fyId=${fy[0]})}" role="button" th:text="#{msg.view}"></a></td>
						</tr>
					</tbody>
				</table>

				<div sec:authorize="hasRole('MDM ADMIN')" class="form-group row" >
					<a id="createFiscalYearLink" th:href="@{/manage/createFY}" th:text="#{link.createFy}" class="btn-primary btn"></a>
				</div>

			</div>

			<div th:insert="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:insert="fragments/general :: footer(~{})"></footer>

</body>
</html>